.onboard-section {
    background-position: center;
    background-size: cover;
    position: relative;
    height: 100vh;
    &:before {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        background-color: rgba(0, 0, 0, 0.5);
    }
}
.onboard-card {
     padding: 20px 80px;
     border-radius: 8px;
     box-shadow: 1px 0 40px 0 rgba(0, 0, 0, 0.1);
     background-color: #ffffff;
     position: absolute;
     top: 50%;
     left: 50%;
     width: 100%;
     max-width: 600px;
     transform: translate(-50%, -50%);
     .onboarding-logo {
      //    max-width: 160px; 
     }
     @media (max-width: 767px) {
         padding: 20px 20px;
         max-width: 360px;
         position: relative;
         top: 0;
         left: 0;
         transform: none;
         margin: 30px auto;
        }
}