<div *ngFor="let alert of adminService.alerts">
    <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
</div>
<!-- Login screen start -->
<div *ngIf="is_show == 'LOGIN'">
    <section class="onboard-section text-center" style="background-image: url(./assets/img/login_background.jpg)">
        <div class="row">
            <div class="container">
                <div class="onboard-card">
                    <img src="./assets/img/logo.png" alt="Logo" class="onboarding-logo">
                    <h1 class="mb-3">Login</h1>
                    <div class="form-container">
                        <p>Please enter your email and password to login</p>
                        <div class="form-box">
                            <form (ngSubmit)="submitForm()" class="mb-0" [formGroup]="authForm" novalidate>
                                <div class="form-field">
                                <div class="form-group text-right">
                                    <input type="email" placeholder="Email" class="form-control mb-1" formControlName="email">
                                    <div *ngIf="getControl.email.touched && getControl.email.invalid" class="text-danger">
                                      <div *ngIf="getControl.email.errors?.required">email is required.</div>
                                      <div *ngIf="getControl.email.errors?.email">Email must be a valid email address.</div>
                                    </div>
                                  </div>
                                  </div>
                                  <div class="form-field">
                                  <div class="form-group text-right">
                                    <input type="password" placeholder="Password" class="form-control mb-1" formControlName="password">
                                    <div *ngIf="getControl.password.touched && getControl.password.invalid" class="text-danger">
                                      <div *ngIf="getControl.password.errors?.required">Password is required.</div>
                                      <div *ngIf="getControl.password.errors?.minlength">Password must be at least 8 characters.</div>
                                    </div>
                                  </div>
                                  </div>
                                <div class="forgot-password text-right mb-3">
                                    <a>Forgot Password?</a>
                                </div>
                                <button [disabled]="!authForm.valid || isSubmitting" type="submit"
                                    class="btn btn-primary text-white" [ngClass]="{'btn-loading': isSubmitting}">
                                    <div class="loader"></div> Login
                                </button>
                            </form>
                            <div class="inline-links mt-3">
                                <a target="_blank" href="#">Student Login</a>
                                <a target="_blank" href="#">Teacher Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>