
<div *ngFor="let alert of userService.alerts">
    <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
</div>
<!-- Login screen start -->
<div *ngIf="is_show == 'LOGIN'">
    <section class="onboard-section text-center" style="background-image: url(./assets/img/login-bg.jpg)">
        <div class="row">
            <div class="container">
                <div class="onboard-card">
                    <img src="./assets/img/logo.png" alt="Logo" class="onboarding-logo">
                    <h1 class="mb-3">Login</h1>
                    <div class="form-container">
                        <p>Please enter your email and password to login</p>
                        <div class="form-box">
                            <form class="mb-0" [formGroup]="authForm" (ngSubmit)="submitForm()">
                                <div class="form-field">
                                    <input placeholder="Email" formControlName="email" email-validate class="input-field" type="text" />
                                    <errors class="error-msz" [control]="authForm.controls.email"></errors>
                                </div>
                                <div class="form-field">
                                    <input placeholder="Password" formControlName="password" class="input-field" type="password" />
                                    <errors class="error-msz" [control]="authForm.controls.password"></errors>
                                </div>
                                <div class="forgot-password text-right mb-3">
                                    <a [routerLink]="['/users/forgot-password']">Forgot Password?</a>
                                </div>
                                <button [disabled]="!authForm.valid || isSubmitting" type="submit" class="btn btn-primary text-white" [ngClass]="{'btn-loading': isSubmitting}"> <div class="loader"></div> Login</button>
                            </form>
                            <div class="inline-links mt-3">
                                <a target="_blank" href="https://www.marketingtiki.com/pricing">Individual Sign Up</a>
                                <a target="_blank" href="https://www.marketingtiki.com/agency-pricing">Agency Sign Up</a>
                            </div>
                            <div class="inline-links mt-3">
                                <a [routerLink]="['/users/signup-individual/6c1e4708-8dbb-3d6b-e71d-86b5c5d739ed']">Dummy Individual Sign Up Link</a>
                                <a [routerLink]="['/users/signup-agency/23ad7b39-c08a-48b2-4f68-c74617020024']"> Dummy Agency Sign Up Link</a>
                            </div>
                            <!-- <div class="inline-links mt-3">
                                <a [routerLink]="['/users/signup-individual/ce3eb763-a86e-2ef1-7c90-1cb5e9b1500e']">Dummy Individual Sign Up Link</a>
                                <a [routerLink]="['/users/signup-agency/08aa7494-0954-c83b-5895-dfaebd678655']"> Dummy Agency Sign Up Link</a>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- Login screen end -->
<!-- Forgot password screen start -->
<!-- <div *ngIf="forgot_password_path">
	<section class="onboard-section text-center" style="background-image: url(./assets/img/login-bg.jpg)">
		<div class="row">
			<div class="container">
				<div class="onboard-card">
					<img src="./assets/img/logo.png" alt="Logo" class="onboarding-logo">
					<h1 class="mb-5">forgot password ?</h1>
					<div class="form-container">
						<p>Enter your registered email address to get link to reset password.</p>
						<div class="form-box">
							<form class="mb-0">
								<div class="form-field">
									<input type="email" placeholder="Email" name="" class="input-field">
								</div>
								<div class="submit-block mt-3">
									<input type="submit" value="Reset Password">
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div> -->
<!-- Forgot password screen end -->
<!-- Set New password screen end -->
<div *ngIf="is_show == 'SET_NEW_PASSORWD'">
    <section class="onboard-section text-center" style="background-image: url(./assets/img/login-bg.jpg)">
        <div class="row">
            <div class="container">
                <div class="onboard-card">
                    <img src="./assets/img/logo.png" alt="Logo" class="onboarding-logo">
                    <h1 class="mb-5">Reset password</h1>
                    <div class="form-container">
                        <div class="form-box">
                            <form class="mb-0" [formGroup]="resetPasswordForm" (ngSubmit)="submitResetPasswordForm()">
                                <div class="forgot-password text-left mb-0">
                                    <p>Set new password here</p>
                                </div>
                                <div class="form-field">
                                    <input type="password" placeholder="Password" formControlName="password" class="input-field">
                                    <errors class="error-msz" [control]="resetPasswordForm.controls.password"></errors>
                                </div>
                                <div class="form-field">
                                    <input type="password" placeholder="Confirm Password" formControlName="confirmPassword" class="input-field">
                                    <div class="error-list" *ngIf="resetPasswordForm.controls.confirmPassword.errors?.MatchPassword">
                                        <span>Password does not match the confirm password.</span>
                                    </div>
                                </div>
                                <!-- <div class="submit-block">
									<input type="submit" value="Reset Password">
								</div> -->
                                <button class="btn btn-primary text-white mt-3" [disabled]="!resetPasswordForm.valid || isSubmitting" type="submit" [ngClass]="{'btn-loading': isSubmitting}"> <div class="loader"></div>Reset Password</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- Set New password screen end -->
<!-- Forgot password email screen start -->
<div *ngIf="is_show == 'FORGOT_PASSORWD'">
    <section class="onboard-section text-center" style="background-image: url(./assets/img/login-bg.jpg)">
        <div class="row">
            <div class="container">
                <div class="onboard-card">
                    <img src="./assets/img/logo.png" alt="Logo" class="onboarding-logo">
                    <h1 class="mb-2">Forgot password ?</h1>
                    <div class="form-container">
                        <p>Enter your email and a link to reset your password will be sent.</p>
                        <div class="form-box">
                            <!-- <form class="mb-0"> -->
                            <form class="mb-0" [formGroup]="forgotPasswordForm" (ngSubmit)="submitForgotPasswordForm()">
                                <div class="form-field">
                                    <input formControlName="email" placeholder="Email" email-validate class="input-field" type="text" />
                                    <errors class="error-msz" [control]="forgotPasswordForm.controls.email"></errors>
                                </div>
                                <div class="row">
                                </div>
                                <div class="submit-block">
                                    <button class="btn btn-primary text-white mt-3" [disabled]="!forgotPasswordForm.valid || isSubmitting" type="submit" [ngClass]="{'btn-loading': isSubmitting}"> <div class="loader"></div>Submit</button>
                                </div>
                            </form>
                            <div class="inline-links mt-3">
                                <a [routerLink]="['/users/login']">Login</a>
                                <!-- <a [routerLink]="['/users/set-new-password']">Set New Password</a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- Forgot password email screen end -->
<!-- success screen start -->
<div *ngIf="is_show == 'PASSORWD_SUCCESS'">
    <section class="onboard-section text-center" style="background-image: url(./assets/img/login-bg.jpg)">
        <div class="row">
            <div class="container">
                <div class="onboard-card">
                    <img src="./assets/img/logo.png" alt="Logo" class="onboarding-logo">
                    <div class="success-block">
                        <img src="./assets/img/icons/correct.svg" alt="check" class="check">
                    </div>
                    <h1 class="mb-2">Success!</h1>
                    <div class="form-container">
                        <p>{{ userService.thankyoudata }}</p>
                        <!-- <div class="form-box">
							<form class="mb-0">
								<div class="submit-block">
									<input type="submit" value="Login">
								</div>
							</form>
						</div> -->
                        <a class="btn btn-primary text-white mt-3" [routerLink]="['/users/login']">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- success screen end -->
<!-- Sign up screen (Step 1) start -->
<div *ngIf="is_show == 'SIGNUP_INDIVIDUAL'">
    <section class="signup-section text-center">
        <div class="row">
            <div class="col-sm-6 signup-bg p-0" style="background-image: url(./assets/img/login-bg.jpg)">
            </div>
            <div class="col-sm-6">
                <div class="signup-content">
                    <div class="onboard-card">
                        <img src="./assets/img/logo.png" alt="Logo" class="onboarding-logo">
                        <h1 class="mt-4 mb-4">Sign up</h1>
                        <div class="wizard-steps mt-4">
                            <ul>
                                <li>
                                    <div class="step-content">
                                        <div class="checkbox active">
                                            <i class="icons-checked"></i>
                                        </div>
                                        <span>{{userService.userData.plan_name}} Selected</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="step-content">
                                        <div class="checkbox">
                                            <span>2</span>
                                        </div>
                                        <span>Account Details</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="step-content">
                                        <div class="checkbox">
                                            <span>3</span>
                                        </div>
                                        <span>Payment</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="form-container mt-5">
                            <form class="mb-0" [formGroup]="signupForm" (ngSubmit)="submitSignupForm('INDIVIDUAL')">
                                <div class="form-field">
                                    <input type="text" placeholder="Name" formControlName="name" class="input-field">
                                    <errors class="error-msz" [control]="signupForm.controls.name"></errors>
                                </div>
                                <div class="form-field">
                                    <input type="text" placeholder="Business Name" formControlName="business_name" class="input-field">
                                    <errors class="error-msz" [control]="signupForm.controls.business_name"></errors>
                                </div>
                                <div class="form-field">
                                    <input type="email" email-validate placeholder="Email" formControlName="email" class="input-field">
                                    <errors class="error-msz" [control]="signupForm.controls.email"></errors>
                                </div>
                                <div class="form-field">
                                    <input type="email" email-validate placeholder="Confirm Email" formControlName="confirm_email" class="input-field">
                                    <!-- <errors class="error-msz" [control]="signupForm.controls.confirm_email"></errors> -->
                                    <div class="error-msz" *ngIf="signupForm.controls.confirm_email.errors?.MatchEmail">
                                        <span class="pull-right">Email does not match the confirm email.</span>
                                    </div>
                                </div>
                                <div class="form-field">
                                    <input type="password" placeholder="Password" formControlName="password" class="input-field">
                                    <errors class="error-msz" [control]="signupForm.controls.password"></errors>
                                </div>
                                <!-- <div class="submit-block mt-3">
									<input type="submit" value="Next">
								</div>
								<div class="submit-block mt-3">
									<input type="submit" value="Cancel">
								</div> -->
                                <div class="action-btn mt-3">
                                    <a class="cancel-link mr-2" [routerLink]="['/users/login']">Cancel</a>
                                    <!-- <button class="btn btn-primary text-white" type="submit" [disabled]="!signupForm.valid || isSubmitting">Next</button> -->
                                    <button class="btn btn-primary text-white" [disabled]="!signupForm.valid || isSubmitting" type="button" (click)="goToNext('INDIVIDUAL')" [ngClass]="{'btn-loading': isSubmitting}"> <div class="loader"></div>Next</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- Sign up screen (Step 1) end -->
<div *ngIf="is_show == 'SIGNUP_AGENCY'">
    <section class="signup-section text-center">
        <div class="row">
            <div class="col-sm-6 signup-bg p-0" style="background-image: url(./assets/img/login-bg.jpg)">
            </div>
            <div class="col-sm-6">
                <div class="signup-content">
                    <div class="onboard-card">
                        <img src="./assets/img/logo.png" alt="Logo" class="onboarding-logo">
                        <h1 class="mt-4 mb-4">Sign up</h1>
                        <div class="wizard-steps mt-4">
                            <ul>
                                <li>
                                    <div class="step-content">
                                        <div class="checkbox active">
                                            <i class="icons-checked"></i>
                                        </div>
                                        <span>{{userService.userData.plan_name}} Selected</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="step-content">
                                        <div class="checkbox">
                                            <span>2</span>
                                        </div>
                                        <span>Account Details</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="step-content">
                                        <div class="checkbox">
                                            <span>3</span>
                                        </div>
                                        <span>Payment</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="form-container mt-5">
                            <form class="mb-0" [formGroup]="signupForm" (ngSubmit)="submitSignupForm('AGENCY')">
                                <div class="form-field">
                                    <input type="text" placeholder="Name" formControlName="name" class="input-field">
                                    <errors class="error-msz" [control]="signupForm.controls.name"></errors>
                                </div>
                                <div class="form-field">
                                    <input type="text" placeholder="Business Name" formControlName="business_name" class="input-field">
                                    <errors class="error-msz" [control]="signupForm.controls.business_name"></errors>
                                </div>
                                <div class="form-field">
                                    <input type="email" email-validate placeholder="Email" formControlName="email" class="input-field">
                                    <errors class="error-msz" [control]="signupForm.controls.email"></errors>
                                </div>
                                <div class="form-field">
                                    <input type="email" email-validate placeholder="Confirm Email" formControlName="confirm_email" class="input-field">
                                    <div class="error-msz" *ngIf="signupForm.controls.confirm_email.errors?.MatchEmail">
                                        <span class="pull-right">Email does not match the confirm email.</span>
                                    </div>
                                </div>
                                <div class="form-field">
                                    <input type="password" placeholder="Password" formControlName="password" class="input-field">
                                    <errors class="error-msz" [control]="signupForm.controls.password"></errors>
                                </div>
                                <!-- <div class="submit-block mt-3">
										<input type="submit" value="Next">
									</div>
									<div class="submit-block mt-3">
										<input type="submit" value="Cancel">
									</div> -->
                                <div class="action-btn mt-3">
                                    <a class="cancel-link mr-2" [routerLink]="['/users/login']">Cancel</a>
                                    <!-- <button class="btn btn-primary text-white" type="submit" [disabled]="!signupForm.valid || isSubmitting" >Next</button> -->
                                    <button class="btn btn-primary text-white" [disabled]="!signupForm.valid || isSubmitting" type="button" (click)="goToNext('AGENCY')" [ngClass]="{'btn-loading': isSubmitting}"> <div class="loader"></div>Next</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- Sign up screen (a/c info) start -->
<div *ngIf="is_show == 'PAYMENT'">
    <section class="signup-section text-center">
        <div class="row">
            <div class="col-sm-6 signup-bg p-0" style="background-image: url(./assets/img/login-bg.jpg)">
            </div>
            <div class="col-sm-6">
                <div class="signup-content">
                    <div class="onboard-card">
                        <img src="./assets/img/logo.png" alt="Logo" class="onboarding-logo">
                        <h1 class="mt-4 mb-4">Sign up</h1>
                        <div class="wizard-steps mt-4">
                            <ul>
                                <li>
                                    <div class="step-content">
                                        <div class="checkbox active">
                                            <i class="icons-checked"></i>
                                        </div>
                                        <span>{{userService.userData.plan_name}} Selected</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="step-content">
                                        <div class="checkbox active">
                                            <i class="icons-checked"></i>
                                        </div>
                                        <span>Account Details</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="step-content">
                                        <div class="checkbox">
                                            <span>3</span>
                                        </div>
                                        <span>Payment</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="form-container mt-5">
                            <form class="mb-0" [formGroup]="paymentForm" (ngSubmit)="submitFinalForm()">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-field card-info-block">
                                            <input formControlName="is_card_ready" type="hidden">
                                            <div id="card-element" class="field"></div>
                                            <errors class="error-msz" [control]="paymentForm.controls.is_card_ready"></errors>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-field">
                                            <input type="text" placeholder="Billing Address" formControlName="billing_address" class="input-field">
                                            <errors class="error-msz" [control]="paymentForm.controls.billing_address"></errors>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-field">
                                            <input type="text" placeholder="City" formControlName="city" class="input-field">
                                            <errors class="error-msz" [control]="paymentForm.controls.city"></errors>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-field">
                                            <input type="text" placeholder="State" formControlName="state" class="input-field">
                                            <errors class="error-msz" [control]="paymentForm.controls.state"></errors>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-field">
                                            <input type="text" placeholder="Zip Code" formControlName="zip_code" class="input-field">
                                            <errors class="error-msz" [control]="paymentForm.controls.zip_code"></errors>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-field">
                                            <select formControlName="country">
                                                <!-- <option [ngValue]='' >Select Country</option> -->
                                                <option [ngValue]="null" disabled>Select Country</option>
                                                <option *ngFor="let country of countries" [ngValue]="country.id">
                                                    {{ country.name }} ({{country.sortname}})
                                                </option>
                                            </select>
                                            <errors class="error-msz" [control]="paymentForm.controls.country"></errors>
                                        </div>
                                    </div>
                                </div>
                                <!-- <errors [control]="paymentForm.controls.is_card_ready"></errors>
								<div class="form-field">
									<input type="text" placeholder="Card Number" name="" class="input-field">
								</div> -->
                                <!-- <div class="row"> -->
                                <!-- <div class="form-field col-sm-6">
										<input type="text" placeholder="Expiration" name="" class="input-field">
									</div> -->
                                <!-- <div class="form-field col-sm-6">
										<input type="text" placeholder="CVV" name="" class="input-field">
									</div> -->
                                <!-- </div> -->
                                <!-- <div class="submit-block mt-3">
									<input type="submit" value="Pay $50 & Subscribe">
								</div> -->
                                <div class="action-btn mt-3">
                                    <!-- <a class="cancel-link mr-2" [routerLink]="['/users/login']">Cancel</a> -->
                                    <button class="btn btn-primary text-white" type="submit" [disabled]="!paymentForm.valid || isSubmitting" [ngClass]="{'btn-loading': isSubmitting}"> <div class="loader"></div>Pay ${{userService.userData.amount}} & Subscribe</button>
                                </div>
                            </form>
                            <div class="text-center">
                                <div class="text-with-icon">
                                    <a class="cancel-link mr-2" [routerLink]="['/users/login']">Cancel</a>
                                    <i class="icons-lock"></i>
                                    <span>Secure Checkout</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- Sign up screen (a/c info) end -->
<!--  -->
<div *ngIf="is_show == 'SIGNUP_AGENCY_MEMBER'">
    <section class="signup-section text-center">
        <div class="row">
            <div class="col-sm-6 signup-bg p-0" style="background-image: url(./assets/img/login-bg.jpg)">
            </div>
            <div class="col-sm-6">
                <div class="signup-content">
                    <div class="onboard-card">
                        <img src="./assets/img/logo.png" alt="Logo" class="onboarding-logo">
                        <h1 class="mt-4 mb-4">Sign up</h1>
                        <!-- <div class="wizard-steps mt-4">
								<ul>
									<li>
										<div class="step-content">
											<div class="checkbox active">
												<i class="icons-checked"></i>
											</div>
											<span>{{userService.userData.plan_name}} Selected</span>
										</div>
									</li>
									<li>
										<div class="step-content">
											<div class="checkbox">
												<span>2</span>
											</div>
											<span>Account Details</span>
										</div>									
									</li>
									<li>
										<div class="step-content">
											<div class="checkbox">
												<span>3</span>
											</div>
											<span>Payment</span>
										</div>	
									</li>
								</ul>
							</div> -->
                        <div class="form-container mt-5">
                            <form class="mb-0" [formGroup]="signupAgencyMemberForm" (ngSubmit)="submitSignupForm('AGENCY_USER')">
                                <div class="form-field">
                                    <input type="text" placeholder="Name" formControlName="name" class="input-field">
                                    <errors class="error-msz" [control]="signupAgencyMemberForm.controls.name"></errors>
                                </div>
                                <div class="form-field">
                                    <input type="text" placeholder="Business Name" formControlName="business_name" class="input-field">
                                    <errors class="error-msz" [control]="signupAgencyMemberForm.controls.business_name"></errors>
                                </div>
                                <div class="form-field">
                                    <input type="email" email-validate placeholder="Email" formControlName="email" class="input-field" readonly>
                                    <errors class="error-msz" [control]="signupAgencyMemberForm.controls.email"></errors>
                                </div>
                                <!-- <div class="form-field">
                                    <input type="email" email-validate placeholder="Confirm Email" formControlName="confirm_email" class="input-field">
                                    <div class="error-msz" *ngIf="signupAgencyMemberForm.controls.confirm_email.errors?.MatchEmail">
                                        <span class="pull-right">Email does not match the confirm email.</span>
                                    </div>
                                </div> -->
                                <div class="form-field">
                                    <input type="password" placeholder="Password" formControlName="password" class="input-field">
                                    <errors class="error-msz" [control]="signupAgencyMemberForm.controls.password"></errors>
                                </div>
                                <!-- <div class="submit-block mt-3">
												<input type="submit" value="Next">
											</div>
											<div class="submit-block mt-3">
												<input type="submit" value="Cancel">
											</div> -->
                                <div class="action-btn mt-3">
                                    <a class="cancel-link mr-2" [routerLink]="['/users/login']">Cancel</a>
                                    <button class="btn btn-primary text-white" type="submit" [disabled]="!signupAgencyMemberForm.valid || isSubmitting" [ngClass]="{'btn-loading': isSubmitting}"> <div class="loader"></div>Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!--  --><!-- Sign up screen (a/c info) end -->
<!-- Team Member -->
<div *ngIf="is_show == 'SIGNUP_TEAM_MEMBER'">
    <section class="signup-section text-center">
        <div class="row">
            <div class="col-sm-6 signup-bg p-0" style="background-image: url(./assets/img/login-bg.jpg)">
            </div>
            <div class="col-sm-6">
                <div class="signup-content">
                    <div class="onboard-card">
                        <img src="./assets/img/logo.png" alt="Logo" class="onboarding-logo">
                        <h1 class="mt-4 mb-4">Sign up</h1>
                        <div class="form-container mt-5">
                            <form class="mb-0" [formGroup]="signupTeamMemberForm" (ngSubmit)="submitTeamMemberSignupForm()">
                                <div class="form-field">
                                    <input type="text" placeholder="Name" formControlName="name" class="input-field">
                                    <errors class="error-msz" [control]="signupTeamMemberForm.controls.name"></errors>
                                </div>
                                <div class="form-field">
                                    <input type="email" email-validate placeholder="Email" formControlName="email" class="input-field" readonly>
                                    <errors class="error-msz" [control]="signupTeamMemberForm.controls.email"></errors>
                                </div>
                                <div class="form-field">
                                    <input type="password" placeholder="Password" formControlName="password" class="input-field">
                                    <errors class="error-msz" [control]="signupTeamMemberForm.controls.password"></errors>
                                </div>
                                <div class="action-btn mt-3">
                                    <a class="cancel-link mr-2" [routerLink]="['/users/login']">Cancel</a>
                                    <button class="btn btn-primary text-white" type="submit" [disabled]="!signupTeamMemberForm.valid || isSubmitting" [ngClass]="{'btn-loading': isSubmitting}"> <div class="loader"></div>Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!--  -->
<!-- Sign up success start -->
<div *ngIf="is_show == 'SIGNUP_SUCCESS'">
    <section class="signup-section text-center">
        <div class="row">
            <div class="col-sm-6 signup-bg p-0" style="background-image: url(./assets/img/login-bg.jpg)">
            </div>
            <div class="col-sm-6">
                <div class="signup-content">
                    <div class="onboard-card">
                        <img src="./assets/img/logo.png" alt="Logo" class="onboarding-logo">
                        <div class="signup-success">
                            <div class="success-signup">
                                <i class="icons-check"></i>
                            </div>
                            <h1>Success!</h1>
                            <p> {{userService.thankyoudata }}</p>
                            <a class="btn btn-primary text-white mt-3" [routerLink]="['/users/login']">Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- Sign up success end -->