<div>
        <section class="onboard-section text-center" style="background-image: url(./assets/img/login-bg.jpg)">
            <div class="row">
                <div class="container">
                    <div class="onboard-card">
                        <img src="./assets/img/logo.png" alt="Logo" class="onboarding-logo">
                        <h1 class="mb-5">Reset password</h1>
                        <div class="form-container">
                            <div class="form-box">
                                <form class="mb-0">
                                    <div class="forgot-password text-left mb-0">
                                        <p>Set new password here</p>
                                    </div>
                                    <div class="form-field">
                                        <input type="password" placeholder="New Password" name="" class="input-field">
                                    </div>
                                    <div class="form-field">
                                        <input type="password" placeholder="Confirm New Password" name="" class="input-field">
                                    </div>
                                    <!-- <div class="submit-block">
                                        <input type="submit" value="Reset Password">
                                    </div> -->
                                    <a class="btn btn-primary text-white mt-3" [routerLink]="['/users/password-success']">Reset Password</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>