<div class="main-content">
    <div *ngFor="let alert of userService.alerts">
        <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
    </div>
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <button class="btn-text-icon back-page-btn" (click)="goToBack()"><i
                                class="icons-arrow-up"></i>Back</button>
                    </div>
                </div>
                <div class="form-container">
                    <!-- <div class="container-xsm"> -->
                        <form class="mb-0" [formGroup]="submitForm" (ngSubmit)="submit()">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-content">
                                        <div class="form-field mb-4">
                                            <label for="title_text">Name</label>
                                            <input id="title_text" type="text" formControlName="name">
                                            <errors class="pull-right required" [control]="submitForm.controls.name">
                                            </errors>
                                        </div>
                                        <div class="form-field mb-4">
                                            <label for="title_text">Billing Period</label>
                                            <select formControlName="interval" disabled>
                                                <option *ngFor="let interval of intervals" [ngValue]="interval.value">
                                                    {{ interval.name }}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="form-field mb-4">
                                            <label for="title_text">Note</label>
                                            <textarea formControlName="note"></textarea>
                                            <errors class="error-msz" [control]="submitForm.controls.note"></errors>
                                        </div>
                                        <div class="form-field mb-4 text-right">
                                            <label for="title_text"></label>
                                            <button type="submit" [disabled]="!submitForm.valid || isSubmitting"
                                                class="btn btn-primary text-white mr-3"
                                                [ngClass]="{'btn-loading': isSubmitting}">
                                                <div class="loader"></div>Update
                                            </button>
                                            <button type="button" (click)="goToBack()" class="btn btn-default">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-sm-6">
                                    <div class="form-content">
                                        <div class="form-field mb-4">
                                            <label for="title_text">Amount</label>
                                            <input id="title_text" type="number" formControlName="amount" disabled>
                                            <errors class="pull-right required" [control]="submitForm.controls.name">
                                            </errors>
                                        </div>
                                        <div class="form-field mb-4">
                                            <label for="title_text">Type</label>
                                            <select formControlName="type" disabled>
                                                <option *ngFor="let type of pricing_types" [ngValue]="type.value">
                                                    {{ type.name }}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="form-field mb-4" *ngIf="submitForm.value.type == 'AGENCY'">
                                            <label for="title_text">Discount <span class="required">*</span></label>
                                            <input id="title_text" type="number" formControlName="discount">
                                            <errors class="pull-right required" [control]="submitForm.controls.discount">
                                            </errors>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    <!-- </div> -->
                </div>
            </div>
        </div>
    </div>
</div>