<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="search-header-block">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <!-- <label for="search">Search</label> -->
                                <input type="text" class="regular-form" id="search" placeholder="Search by Name, Email" [(ngModel)]="parameters.keyword" (keyup)="search($event)">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <!-- <label for="status">Filter By Status</label> -->
                                <select class="regular-form" id="status" [(ngModel)]="parameters.filters.status" (change)="filterStatus()">
                                    <option value="">Select Status</option>
                                    <option value="ACTIVE">Active</option>
                                    <option value="BLOCKED">Inactive</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <!-- <label for="package">Filter By Package</label> -->
                                <select class="regular-form" id="package" [(ngModel)]="parameters.filters.package" (change)="filterPackage()">
                                    <option value="">Select Package</option>
                                    <option *ngFor="let plan of plans" [value]="plan.id">{{ plan.name }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <!-- <label for="package">Filter By Last Login</label> -->
                                <input class="regular-form" type="text" name="daterangeInput" daterangepicker [options]="daterangepickerOptions" (selected)="selectedDate($event);" id="datepicker" value="" />
                                <i class="flaticon-date"></i>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <button class="btn btn-primary pull-right m-sm-0" (click)="reset()"><i class="icons-refresh"></i>Reset</button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <ngx-datatable #table class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [scrollbarV]="false" [externalPaging]="true" [count]="counts" [offset]="page_no" [limit]="parameters?.pagination?.limit" (page)='setPage($event)' (sort)="onSort($event)" [scrollbarH]="true">
                                <ngx-datatable-column name="Name">
                                    <ng-template let-rowIndex="rowIndex" let-row="row" let-value="value" ngx-datatable-cell-template>
                                        {{row.name | titlecase}}
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Email" [sortable]="false">
                                    <ng-template let-rowIndex="rowIndex" let-row="row" let-value="value" ngx-datatable-cell-template>
                                        <a href="mailto:{{row.email}}">{{row.email}}</a>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="User Type" [sortable]="false">
                                    <ng-template let-rowIndex="rowIndex" let-row="row" let-value="value" ngx-datatable-cell-template>
                                        <span *ngIf="row.user_role == 'USER_AGENCY_USER'" >Agency Invitee</span>
                                        <span *ngIf="row.user_role == 'USER_AGENCY_OWNER'" >Agency</span>
                                        <span *ngIf="row.user_role == 'USER_INDIVIDUAL_OWNER'" >User</span>
                                        <span *ngIf="row.user_role == 'USER_AGENCY_TEAM' || row.user_role == 'USER_INDIVIDUAL_TEAM'" >Team Member</span>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Business Name" [sortable]="false">
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        {{row.business_name || "--"}}
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Package" [sortable]="false">
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        {{row.package | titlecase}}
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Status">
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        {{row.status | titlecase}}
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Date of Signup" [sortable]="false">
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        {{row.created_at | date: 'mediumDate'}}
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Last Login" [sortable]="false">
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        {{row.login_at == '' ? '--' : row.login_at | date: 'mediumDate'}}
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Actions" [sortable]="false">
                                    <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                                        <div class="td-action">
                                            <a matTooltip="Reset Password Link" (click)="sendResetPasswordLink(row.user_id)" [matTooltipPosition]="'below'"><i class="icons-envelope-1"></i></a>
                                            <a matTooltip="Edit" [routerLink]="['/console/user-edit-profile', row.user_id]" [matTooltipPosition]="'below'"><i class="icons-create"></i></a>
                                            <!-- <a matTooltip="action" [matTooltipPosition]="'below'"><i class="icons-logout"></i></a>
                                            <a matTooltip="Events" [matTooltipPosition]="'below'"><i class="icons-calendar"></i></a> -->
                                            <a *ngIf="row.status=='ACTIVE'"  matTooltip="Deactivate" [matTooltipPosition]="'below'" (click)="chageStatus(row.user_id,'BLOCKED', rowIndex)">
                                                <i class="icons-check_circle"></i>
                                            </a>
                                            <a *ngIf="row.status=='BLOCKED'"  matTooltip="Activate" [matTooltipPosition]="'below'" (click)="chageStatus(row.user_id,'ACTIVE', rowIndex)">
                                                <i class="icons-highlight_remove"></i>
                                            </a>
                                            <a *ngIf="row.user_role == 'USER_AGENCY_USER' || row.user_role == 'USER_INDIVIDUAL_OWNER'" (click)="agencyDemo(row.name)" [routerLink]="['/user/members/', row.user_id]" 
                                            matTooltip="Members" [matTooltipPosition]="'below'"><i class="icons-group"></i></a>
                                            <a *ngIf="row.user_role == 'USER_AGENCY_OWNER'" (click)="agencyDemo(row.name)" [routerLink]="['/user/my-business/', row.user_id]" matTooltip="Users" [matTooltipPosition]="'below'"><i class="icons-group"></i></a>
                                            <a *ngIf="row.user_role == 'USER_AGENCY_OWNER' || row.user_role == 'USER_INDIVIDUAL_OWNER'" [state]="row" [routerLink]="['/user/billing', row.user_id]" matTooltip="Billing" [matTooltipPosition]="'below'"><i class="icons-tag"></i></a>
                                        </div>
                                    </ng-template>
                                </ngx-datatable-column>
                            </ngx-datatable>
                            <!-- <span class="home-loader-table" *ngIf="loading"></span> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Landing Page Ranking</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-sm row-border hover" datatable [dtOptions]="dtOptions">
                        <thead>
                            <tr>
                                <th>S No</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Business Name</th>
                                <th>Status</th>
                                <th>Date Signed Up</th>
                                <th>Last Login</th>
                                <th>Package</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of data; let i = index">
                                <td>{{i+1}}</td>
                                <td>{{item.name}}</td>
                                <td>{{item.email}}</td>
                                <td>{{item.business_name || '--'}}</td>
                                <td>{{item.status}}</td>
                                <td>{{item.created_at | date: mediumDate}}</td>
                                <td>{{item.last_login_at | date: mediumDate}}</td>
                                <td>Silver</td>
                                <td>
                                    <div class="td-action">
                                        <a matTooltip="Edit" [matTooltipPosition]="'below'"><i class="icons-edit"></i></a>
                                        <a matTooltip="action" [matTooltipPosition]="'below'"><i class="icons-logout"></i></a>
                                        <a matTooltip="Events" [matTooltipPosition]="'below'"><i class="icons-calendar"></i></a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- <div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="text-primary">
                                    <th>S No</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Business Name</th>
                                    <th>Status</th>
                                    <th>Date Signed Up</th>
                                    <th>Last Login</th>
                                    <th>Package</th>
                                    <th>Actions</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of list; let i = index">
                                        <td>{{i+1}}</td>
                                        <td>{{item.name}}</td>
                                        <td>{{item.email}}</td>
                                        <td>{{item.business_name || '--'}}</td>
                                        <td>{{item.status}}</td>
                                        <td>{{item.created_at | date: mediumDate}}</td>
                                        <td>{{item.last_login_at | date: mediumDate}}</td>
                                        <td>Silver</td>
                                        <td>
                                            <div class="td-action">
                                                <a matTooltip="Edit" [matTooltipPosition]="'below'"><i class="icons-edit"></i></a>
                                                <a matTooltip="action" [matTooltipPosition]="'below'"><i class="icons-logout"></i></a>
                                                <a matTooltip="Events" [matTooltipPosition]="'below'"><i class="icons-calendar"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->