<div class="logo">
    <a href="https://platform.marketingtiki.com/" class="simple-text">
        <div class="logo-img">
            <img class="logo" src="./assets/img/logo.png"/>
            <img class="side-mini-logo" src="./assets/img/logo-small.png"/>
        </div>
    </a>
</div>
<div class="sidebar-wrapper">
  <!-- <div *ngIf="isMobileMenu()">
    <form class="navbar-form">
      <span class="bmd-form-group">
        <div class="input-group no-border">
          <input type="text" value="" class="form-control" placeholder="Search...">
          <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
            <i class="material-icons">search</i>
            <div class="ripple-container"></div>
          </button>
        </div>
      </span>
    </form>
    <ul class="nav navbar-nav nav-mobile-menu">
        <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)">
                <i class="material-icons">dashboard</i>
                <p>
                    <span class="d-lg-none d-md-block">Stats</span>
                </p>
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link" href="javascript:void(0)" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="material-icons">notifications</i>
                <span class="notification">5</span>
                <p>
                    <span class="d-lg-none d-md-block">Some Actions</span>
                </p>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Mike John responded to your email</a>
                <a class="dropdown-item" href="#">You have 5 new tasks</a>
                <a class="dropdown-item" href="#">You're now friend with Andrew</a>
                <a class="dropdown-item" href="#">Another Notification</a>
                <a class="dropdown-item" href="#">Another One</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)">
                <i class="material-icons">person</i>
                <p>
                    <span class="d-lg-none d-md-block">Account</span>
                </p>
            </a>
        </li>
    </ul>
  </div> -->
    <ul class="nav">
        <li *ngIf="currentUser.user_type === 'OWNER' || currentUser.user_type === 'ADMIN'" routerLinkActive="active" class="nav-item">
            <a class="nav-link" [routerLink]="['/console/dashboard']">
                <i class="icons-dashboard"></i>
                <p>Dashboard</p>
            </a>
        </li>
        <li *ngIf="currentUser.user_type === 'OWNER' || currentUser.user_type === 'ADMIN'" routerLinkActive="active" class="nav-item">
            <a class="nav-link" [routerLink]="['/console/category']">
                <i class="icons-list"></i>
                <p>Knowledge Base Category</p>
            </a>
        </li>
        <li *ngIf="currentUser.user_type === 'ADMIN'" routerLinkActive="active" class="nav-item">
            <a class="nav-link" [routerLink]="['/console/pricing-plans']">
                <i class="icons-tag"></i>
                <p>Pricing Plans</p>
            </a>
        </li>
        <li *ngIf="currentUser.user_type === 'OWNER' || currentUser.user_type === 'ADMIN'" routerLinkActive="active" class="nav-item">
            <a class="nav-link" [routerLink]="['/console/user-profile']">
                <i class="icons-team"></i>
                <p>User Management</p>
            </a>
        </li>
        <li *ngIf="currentUser.user_type === 'OWNER' || currentUser.user_type == 'ADMIN'" routerLinkActive="active" class="nav-item">
            <a class="nav-link" [routerLink]="['/console/broadcast']">
                <i class="icons-broadcast"></i>
                <p>Broadcast</p>
            </a>
        </li>
        <li *ngIf="currentUser.user_type === 'OWNER' || currentUser.user_type === 'ADMIN'" routerLinkActive="active" class="nav-item">
            <a class="nav-link" [routerLink]="['/console/knowledgebase']">
                <i class="icons-idea"></i>
                <p>Knowledge Base</p>
            </a>
        </li>
        <li *ngIf="currentUser.user_type === 'OWNER' || currentUser.user_type === 'ADMIN'" routerLinkActive="active" class="nav-item">
            <a class="nav-link" [routerLink]="['/console/agency-billing']">
                <i class="icons-tag"></i>
                <p>Agency Billing</p>
            </a>
        </li>
        <li *ngIf="currentUser.user_type === 'ADMIN'" routerLinkActive="active" class="nav-item">
            <a class="nav-link" [routerLink]="['/console/crm']">
                <i class="icons-system"></i>
                <p>CRM</p>
            </a>
        </li>
        <li *ngIf="currentUser.user_type === 'USER'" routerLinkActive="active" class="nav-item">
            <a class="nav-link" [routerLink]="['/user/user-dashboard']">
                <i class="icons-dashboard"></i>
                <p>Dashboard</p>
            </a>
        </li>
        <li *ngIf="currentUser.user_type === 'USER'" routerLinkActive="active" class="nav-item">
            <a class="nav-link" [routerLink]="['/user/broadcast']">
                <i class="icons-broadcast"></i>
                <p>News & Updates</p>
            </a>
        </li>
        <!-- <li *ngIf="currentUser.user_type === 'USER'" routerLinkActive="active" class="nav-item">
            <a class="nav-link" [routerLink]="['/user/knowledgebase']">
                <i class="icons-idea"></i>
                <p>Knowledge Base</p>
            </a>
        </li> -->
        <li *ngIf="currentUser.user_type === 'USER'" routerLinkActive="active" class="nav-item">
            <a class="nav-link" (click)="expandAndRedirect()"
        [attr.aria-expanded]="isCollapsed" aria-controls="collapseBasic">
            <i class="icons-idea"></i>
                <p>Knowledge Base</p>
            </a>
            <div id="collapseBasic" [collapse]="!isCollapsed" [isAnimated]="true">
                    <ul class="nav">
                        <li routerLinkActive="active" class="nav-item">
                            <a class="nav-link" [routerLink]="['/user/knowledgebase']">
                                <p>Knowledge Base List</p>
                            </a>
                        </li>
                        <li routerLinkActive="active" class="nav-item" *ngFor="let category of categories_list">
                            <a class="nav-link" [routerLink]="['/user/knowledgebase']" [queryParams]="{category_id:category.category_guid}">
                                <p>{{ category.name }}</p>
                            </a>
                        </li>
                    </ul>
                    <!-- <ul class="nav">
                        <li *ngIf="currentUser.plan_name !== 'ESSENTIAL'" routerLinkActive="active" class="nav-item">
                            <a class="nav-link" [routerLink]="['/user/knowledgebase']">
                                <p>Knowledge Base List</p>
                            </a>
                        </li>
                        <li routerLinkActive="active" class="nav-item" *ngFor="let category of categories_list">
                            <a *ngIf="currentUser.plan_name !== 'ESSENTIAL'" class="nav-link" [routerLink]="['/user/knowledgebase']" [queryParams]="{category_id:category.category_guid}">
                                <p>{{ category.name }}</p>
                            </a>

                            <a *ngIf="currentUser.plan_name === 'ESSENTIAL' && ((category.name).toLowerCase()) === 'how-to'" class="nav-link" [routerLink]="['/user/knowledgebase']" [queryParams]="{category_id:category.category_guid}">
                                <p>{{ category.name }}</p>
                            </a>
                        </li>
                    </ul> -->
            </div>
        </li>
        <li *ngIf="currentUser.user_role !== 'USER_AGENCY_OWNER'" routerLinkActive="active" class="nav-item">
        <!-- <li *ngIf="currentUser.user_sub_type !== 'AGENCY'" routerLinkActive="active" class="nav-item"> -->
            <a class="nav-link" [routerLink]="['/user/campaigns']">
                <i class="icons-growth"></i>
                <p>Campaigns</p>
            </a>
        </li>
        <li *ngIf="currentUser.user_type === 'USER' && currentUser.user_role !== 'USER_AGENCY_OWNER'" routerLinkActive="active" class="nav-item">
        <!-- <li *ngIf="currentUser.user_type === 'USER' && currentUser.user_sub_type !== 'AGENCY'" routerLinkActive="active" class="nav-item"> -->
            <a class="nav-link" [routerLink]="['/user/user-crm', currentUser.user_guid]">
                <i class="icons-system"></i>
                <p>CRM</p>
            </a>
        </li>
        <li *ngIf="currentUser.user_type === 'USER' && currentUser.user_role === 'USER_AGENCY_OWNER'" routerLinkActive="active" class="nav-item">
        <!-- <li *ngIf="currentUser.user_type === 'USER' && currentUser.user_sub_type === 'AGENCY'" routerLinkActive="active" class="nav-item"> -->
            <a class="nav-link" [routerLink]="['/user/my-business/', currentUser.user_guid]">
                <i class="icons-system"></i>
                <p>My Businesses</p>
            </a>
        </li>
        <li *ngIf="currentUser.user_type === 'USER' && (currentUser.user_role === 'USER_AGENCY_USER' || currentUser.user_role === 'USER_INDIVIDUAL_OWNER')" routerLinkActive="active" class="nav-item">
            <a class="nav-link" [routerLink]="['/user/members/', currentUser.user_guid]">
                <i class="icons-person"></i>
                <p>Team Members</p>
            </a>
        </li>
        <li *ngIf="currentUser.user_type === 'USER'" routerLinkActive="active" class="nav-item">
            <a class="nav-link" [routerLink]="['/user/help']">
                <i class="icons-build"></i>
                <p>Get Help</p>
            </a>
        </li>
        <li routerLinkActive="active" class="nav-item">
            <a class="nav-link" (click)="logout()">
                <i class="icons-power_settings_new"></i>
                <p>Logout</p>
            </a>
        </li>
    </ul>
</div>
