<div *ngFor="let alert of userService.alerts">
    <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
</div>
<div class="main-content">
    <div class="container-fluid">
          <div class="card">
              <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <button class="btn-text-icon back-page-btn" (click)="goToBack()"><i class="icons-arrow-up"></i>Back</button>
                    </div>
                </div>
                <div class="container-xsm">
                    <div class="form-container">
                      <form [formGroup]="changePasswordForm" (ngSubmit)="submitChangePasswordForm()">
                          <div class="form-content row">
                              <div class="col-md-12">
                                  <div class="form-field">
                                        <label class="text-left">Old Password<span class="required">*</span></label>
                                        <input formControlName="old_password" class="form-label" type="password" />
                                        <errors [control]="changePasswordForm.controls.old_password"></errors>
                                  </div>
                              </div>
                              <div class="col-md-12">
                                  <div class="form-field">
                                    <label class="text-left">New Password<span class="required">*</span></label>
                                    <input formControlName="password" class="form-label" type="password" />
                                    <errors [control]="changePasswordForm.controls.password"></errors>
                                  </div>
                              </div>
                              <div class="col-md-12">
                                  <div class="form-field">
                                    <label>Confirm Password<span class="required">*</span></label>
                                    <input formControlName="confirmPassword" class="form-label" type="password" />
                                    <div class="error-list" *ngIf="changePasswordForm.controls.confirmPassword.errors?.MatchPassword">
                                        <span>Password does not match the confirm password.</span>
                                    </div>
                                  </div>
                              </div>
                            <div class="col-md-12">
                                <div class="text-right">
                                    <button class="btn btn-primary text-white mr-3" type="submit" [disabled]="!changePasswordForm.valid" type="submit" [ngClass]="{'btn-loading': isSubmitting}"> <div class="loader"></div>Change Password</button>
                                    <button type="button" (click)="goToBack()" class="btn btn-default">Cancel</button>
                                </div>
                            </div>
                          </div>
                      </form>
                    </div>
                  </div>
              </div>
          </div>
    </div>
</div>