<div class="main-content events-template">
    <div class="tab-steps multi-step">
        <div class="row">
            <div class="col-md-12">
                <div class="modal-steps" [ngClass]="{'one':tabs_css === 1, 'two': tabs_css === 2, 'three':tabs_css === 3, '':tabs_css > 3}">
                        <span *ngFor="let campaign_tab of campaignService.campaign_tabs" [ngClass]="{'d-none': !campaign_tab.is_tab}">
                        <div class="step" [ngClass]="campaign_tab.active ? 'current' : 'completed'" *ngIf="campaign_tab.is_tab">
                            <div class="dot"></div>
                            <label class="label">
                                <span *ngIf="campaign_tab.active">{{campaign_tab.tilte}}</span>
                                <a *ngIf="!campaign_tab.active" [routerLink]="[campaign_tab.url]">{{campaign_tab.tilte}}</a>
                            </label>
                        </div>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-sm-12 text-right">
                        <a [routerLink]="['/user/campaigns/']" class="btn-text mr-sm-3">Cancel</a>
                        <a [routerLink]="['/user/campaigns/', param_id,'setting']" class="btn-text mr-sm-3">Settings</a>
                        <a [routerLink]="['/user/campaigns/',param_id,'templates']" class="btn btn-primary btn-default mr-2">Change Template</a>
                        <button (click)="updateTemplateDetails()" class="btn btn-primary btn-default mr-2" [ngClass]="{'btn-loading': isSubmitting}">
                            <div class="loader"></div>
                        Save & Next</button>
                        <button (click)="previewTemplate(mode == 'edit' ? 'view' : 'edit')" class="btn btn-primary">{{ mode == 'edit' ? 'Preview' : 'Edit'}}</button>
                    </div>
                </div>
                <div class="card" #screen>
                    <div class="card-body">
                        <div class="row">
                            <div class="template-view-edit col-md-12">
                                <div class="landing-template">
                                    <div class="header-banner">
                                        <div class="image-holder-block">
                                            <button class="image-update-btn-edit" *ngIf="mode == 'edit'" (click)="openModal(cropProfileImage,'banner_background_image')" title="Change Image"><i class="icons-edit"></i> </button>
                                            <img [src]="!campaignService?.events_values?.banner_background_image?.image_url ? 'assets/img/event.jpg' : campaignService?.events_values?.banner_background_image?.image_url" />
                                        </div>
                                        <div class="top-content-bar">
                                            <h2 class="page-title">
                                                <div [ngClass]="{'landing-edit-block' : mode == 'edit'}">
                                                    <button class="edit-element-btn" *ngIf="mode == 'edit'" (click)="updateText('header-title')"><i class="icons-edit"></i></button>
                                                {{campaignService.events_values.header.title.value}}
                                                </div>
                                            </h2>
                                            <a class="call-number"><span><img src="assets/img/landing-page/call.svg"></span><div [ngClass]="{'landing-edit-block' : mode == 'edit'}"><button class="edit-element-btn" *ngIf="mode == 'edit'" (click)="updateText('header-number')"><i class="icons-edit"></i></button>{{campaignService.events_values.header.number.value | phone}}</div></a>
                                        </div>
                                        <div class="landing-banner-content">
                                            <div class="banner-text-block text-center">
                                                <div [ngClass]="{'landing-edit-block' : mode == 'edit'}">
                                                    <button class="edit-element-btn" *ngIf="mode == 'edit'" (click)="updateText('banner-title')"><i class="icons-edit"></i></button>
                                                    <h2>{{campaignService.events_values.banner.title.value}}</h2>
                                                </div>
                                                <div [ngClass]="{'landing-edit-block' : mode == 'edit'}">
                                                    <button class="edit-element-btn" *ngIf="mode == 'edit'" (click)="updateText('banner-description')"><i class="icons-edit"></i></button>
                                                    <p>{{campaignService.events_values.banner.description.value}}</p>
                                                </div>
                                                <div [ngClass]="{'landing-edit-block' : mode == 'edit'}">
                                                    <a target="{{campaignService.events_values.banner.cta.target == '_blank' ? '_blank' : ''}}" href="{{campaignService.events_values.banner.cta.link}}" class="btn btn-primary landing-btn">{{campaignService.events_values.banner.cta.value}}</a>
                                                    <button class="edit-element-btn" *ngIf="mode == 'edit'" (click)="updateText('banner-cta')"><i class="icons-edit"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="events-listing-section l-padding-md bg-dark">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="landing-title-block text-center mb-5">
                                                        <div [ngClass]="{'landing-edit-block' : mode == 'edit'}">
                                                            <button class="edit-element-btn" *ngIf="mode == 'edit'" (click)="updateText('three_column_content_promo-title')"><i class="icons-edit"></i></button>
                                                            <h2>{{campaignService.events_values.three_column_content_promo.title.value}}</h2>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <div class="event-block">
                                                        <div class="event-image">
                                                            <img [src]="!campaignService.events_values?.three_column_content_promo?.one?.image?.image_url ? 'assets/img/event.jpg' : campaignService.events_values?.three_column_content_promo?.one?.image?.image_url" />
                                                            <div class="image-holder-block">
                                                                <button class="image-update-btn-edit image-update-btn-edit-right" *ngIf="mode == 'edit'" (click)="openFileUploadModal(cropVerticalImage,'three_column_content_promo-one-image')" title="Change Image"><i class="icons-edit"></i></button>
                                                            </div>
                                                        </div>
                                                        <div [ngClass]="{'landing-edit-block' : mode == 'edit'}">
                                                            <button class="edit-element-btn" *ngIf="mode == 'edit'" (click)="updateText('three_column_content_promo-one-category')"><i class="icons-edit"></i></button>
                                                            <span class="tag-name">{{campaignService.events_values.three_column_content_promo.one.category.value}}</span>
                                                        </div>
                                                        <div class="event-content">
                                                            <!-- <span class="date">February 3, 2017</span> -->
                                                            <div [ngClass]="{'landing-edit-block' : mode == 'edit'}">
                                                                <button class="edit-element-btn" *ngIf="mode == 'edit'" (click)="updateText('three_column_content_promo-one-title')"><i class="icons-edit"></i></button>
                                                                <h3 _ngcontent-yad-c178="">{{campaignService.events_values.three_column_content_promo.one.title.value}}</h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="event-block">
                                                        <div class="event-image">
                                                            <img [src]="!campaignService.events_values?.three_column_content_promo?.two?.image?.image_url ? 'assets/img/event.jpg' : campaignService.events_values?.three_column_content_promo?.two?.image?.image_url" />
                                                            <div class="image-holder-block">
                                                                <button class="image-update-btn-edit image-update-btn-edit-right" *ngIf="mode == 'edit'" (click)="openFileUploadModal(cropVerticalImage,'three_column_content_promo-two-image')" title="Change Image"><i class="icons-edit"></i></button>
                                                            </div>
                                                        </div>
                                                        <div [ngClass]="{'landing-edit-block' : mode == 'edit'}">
                                                            <button class="edit-element-btn" *ngIf="mode == 'edit'" (click)="updateText('three_column_content_promo-two-category')"><i class="icons-edit"></i></button>
                                                            <span class="tag-name">{{campaignService.events_values.three_column_content_promo.two.category.value}}</span>
                                                        </div>
                                                        <div class="event-content">
                                                            <!-- <span class="date">February 3, 2017</span> -->
                                                            <div [ngClass]="{'landing-edit-block' : mode == 'edit'}">
                                                                <button class="edit-element-btn" *ngIf="mode == 'edit'" (click)="updateText('three_column_content_promo-two-title')"><i class="icons-edit"></i></button>
                                                                <h3 _ngcontent-yad-c178="">{{campaignService.events_values.three_column_content_promo.two.title.value}}</h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="event-block">
                                                        <div class="event-image">
                                                            <img [src]="!campaignService.events_values?.three_column_content_promo?.three?.image?.image_url ? 'assets/img/event.jpg' : campaignService.events_values?.three_column_content_promo?.three?.image?.image_url" />
                                                            <div class="image-holder-block">
                                                                <button class="image-update-btn-edit image-update-btn-edit-right" *ngIf="mode == 'edit'" (click)="openFileUploadModal(cropVerticalImage,'three_column_content_promo-three-image')" title="Change Image"><i class="icons-edit"></i></button>
                                                            </div>
                                                            
                                                        </div>
                                                        <div [ngClass]="{'landing-edit-block' : mode == 'edit'}">
                                                            <button class="edit-element-btn" *ngIf="mode == 'edit'" (click)="updateText('three_column_content_promo-three-category')"><i class="icons-edit"></i></button>
                                                            <span class="tag-name">{{campaignService.events_values.three_column_content_promo.three.category.value}}</span>
                                                        </div>
                                                        <div class="event-content">
                                                            <!-- <span class="date">February 3, 2017</span> -->
                                                            <div [ngClass]="{'landing-edit-block' : mode == 'edit'}">
                                                                <button class="edit-element-btn" *ngIf="mode == 'edit'" (click)="updateText('three_column_content_promo-three-title')"><i class="icons-edit"></i></button>
                                                                <h3 _ngcontent-yad-c178="">{{campaignService.events_values.three_column_content_promo.three.title.value}}</h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="video-section">
                                        <div class="video-img image-container-full">
                                            <div class="image-holder-block">
                                                <button class="image-update-btn-edit" *ngIf="mode == 'edit'" (click)="openModal(cropProfileImage, 'video-image')" title="Change Image"><i class="icons-edit"></i> </button>
                                                <img [src]="!campaignService?.events_values?.video?.image?.image_url ? 'assets/img/event.jpg' : campaignService?.events_values?.video?.image?.image_url" />
                                            </div>
                                        </div>
                                        <div class="container">
                                            <div class="row">
                                                <div class="video-content">
                                                    <div [ngClass]="{'landing-edit-block' : mode == 'edit'}">
                                                        <button class="edit-element-btn" *ngIf="mode == 'edit'" (click)="updateText('video-title')"><i class="icons-edit"></i></button>
                                                        <span>{{campaignService.events_values.video.title.value}}</span>
                                                    </div>
                                                    <div [ngClass]="{'landing-edit-block' : mode == 'edit'}">
                                                        <button class="edit-element-btn" *ngIf="mode == 'edit'" (click)="updateText('video-sub_title')"><i class="icons-edit"></i></button>
                                                        <h2>{{campaignService.events_values.video.sub_title.value}}</h2>
                                                    </div>
                                                    <div class="play-btn">
                                                        <div [ngClass]="{'landing-edit-block' : mode == 'edit'}">
                                                            <a target="_blank" href="{{campaignService.events_values.video.cta.link}}"><span class="play"></span></a>
                                                            <button class="edit-element-btn" *ngIf="mode == 'edit'" (click)="updateText('video-cta')"><i class="icons-edit"></i></button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="events-widget-area l-padding-md bg-dark">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <div class="widget-block">
                                                        <h3>
                                                            <div [ngClass]="{'landing-edit-block' : mode == 'edit'}">
                                                                {{campaignService.events_values.concert.title.value}}
                                                                <button class="edit-element-btn" *ngIf="mode == 'edit'" (click)="updateText('concert-title')"><i class="icons-edit"></i></button>
                                                            </div>
                                                        </h3>
                                                        <ul>
                                                            <li>
                                                                <div class="widget-item">
                                                                    <div class="image-container-full">
                                                                        <img [src]="!campaignService.events_values?.concert?.concert_one?.image?.image_url ? 'assets/img/event.jpg' : campaignService.events_values?.concert?.concert_one?.image?.image_url" />
                                                                        <div class="image-holder-block">
                                                                            <button class="image-update-btn-edit image-update-btn-edit-right" *ngIf="mode == 'edit'" (click)="openFileUploadModal(cropSquerImage,'concert-concert_one-image')" title="Change Image"><i class="icons-edit"></i></button>
                                                                        </div>
                                                                    </div>
                                                                    <h5>
                                                                        <div [ngClass]="{'landing-edit-block' : mode == 'edit'}">
                                                                            {{campaignService.events_values.concert.concert_one.title.value}}
                                                                            <button class="edit-element-btn" *ngIf="mode == 'edit'" (click)="updateText('concert-concert_one-title')"><i class="icons-edit"></i></button>
                                                                        </div>
                                                                    </h5>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="widget-item">
                                                                    <div class="image-container-full">
                                                                        <img [src]="!campaignService.events_values?.concert?.concert_two?.image?.image_url ? 'assets/img/event.jpg' : campaignService.events_values?.concert?.concert_two?.image?.image_url" />
                                                                        <div class="image-holder-block">
                                                                            <button class="image-update-btn-edit image-update-btn-edit-right" *ngIf="mode == 'edit'" (click)="openFileUploadModal(cropSquerImage,'concert-concert_two-image')" title="Change Image"><i class="icons-edit"></i></button>
                                                                        </div>
                                                                    </div>
                                                                    <h5>
                                                                        <div [ngClass]="{'landing-edit-block' : mode == 'edit'}">
                                                                            {{campaignService.events_values.concert.concert_two.title.value}}
                                                                            <button class="edit-element-btn" *ngIf="mode == 'edit'" (click)="updateText('concert-concert_two-title')"><i class="icons-edit"></i></button>
                                                                        </div>
                                                                    </h5>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="widget-item">
                                                                    <div class="image-container-full">
                                                                        <img [src]="!campaignService.events_values?.concert?.concert_three?.image?.image_url ? 'assets/img/event.jpg' : campaignService.events_values?.concert?.concert_three?.image?.image_url" />
                                                                        <div class="image-holder-block">
                                                                            <button class="image-update-btn-edit image-update-btn-edit-right" *ngIf="mode == 'edit'" (click)="openFileUploadModal(cropSquerImage,'concert-concert_three-image')" title="Change Image"><i class="icons-edit"></i></button>
                                                                        </div>
                                                                    </div>
                                                                    <h5>
                                                                        <div [ngClass]="{'landing-edit-block' : mode == 'edit'}">
                                                                            {{campaignService.events_values.concert.concert_three.title.value}}
                                                                            <button class="edit-element-btn" *ngIf="mode == 'edit'" (click)="updateText('concert-concert_three-title')"><i class="icons-edit"></i></button>
                                                                        </div>
                                                                    </h5>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-container text-left">
                                                        <div class="landing-title-block">
                                                            <div [ngClass]="{'landing-edit-block' : mode == 'edit'}">
                                                                    <button class="edit-element-btn" *ngIf="mode == 'edit'" (click)="updateText('contact_us-title')"><i class="icons-edit"></i></button>
                                                                <h2>{{campaignService.events_values.contact_us.title.value}}</h2>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="field-block">
                                                                        <input type="text" class="landing-input" placeholder="Name">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="field-block">
                                                                        <input type="email" class="landing-input" placeholder="Email">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="field-block">
                                                                        <input type="tel" class="landing-input" placeholder="Phone">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-12">
                                                                    <div class="field-block">
                                                                        <input type="text" class="landing-input" placeholder="Message">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-12">
                                                                    <div class="submit-btn-block mt-4">
                                                                        <div [ngClass]="{'landing-edit-block' : mode == 'edit'}">
                                                                            <button class="edit-element-btn" *ngIf="mode == 'edit'" (click)="updateText('contact_us-button')"><i class="icons-edit"></i></button>
                                                                            <button class="landing--submit-btn">{{campaignService.events_values.contact_us.button.value}}</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <div class="widget-block">
                                                        <h3>
                                                            <div [ngClass]="{'landing-edit-block' : mode == 'edit'}">
                                                                {{campaignService.events_values.event.title.value}}
                                                                <button class="edit-element-btn" *ngIf="mode == 'edit'" (click)="updateText('event-title')"><i class="icons-edit"></i></button>
                                                            </div>
                                                        </h3>
                                                        <ul>
                                                            <li>
                                                                <div class="widget-item">
                                                                    <div class="image-container-full">
                                                                        <img [src]="!campaignService.events_values?.event?.event_one?.image?.image_url ? 'assets/img/event.jpg' : campaignService.events_values?.event?.event_one?.image?.image_url" />
                                                                        <div class="image-holder-block">
                                                                            <button class="image-update-btn-edit image-update-btn-edit-right" *ngIf="mode == 'edit'" (click)="openFileUploadModal(cropSquerImage,'event-event_one-image')" title="Change Image"><i class="icons-edit"></i></button>
                                                                        </div>
                                                                    </div>
                                                                    <h5>
                                                                        <div [ngClass]="{'landing-edit-block' : mode == 'edit'}">
                                                                            {{campaignService.events_values.event.event_one.title.value}}
                                                                            <button class="edit-element-btn" *ngIf="mode == 'edit'" (click)="updateText('event-event_one-title')"><i class="icons-edit"></i></button>
                                                                        </div>
                                                                    </h5>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="widget-item">
                                                                    <div class="image-container-full">
                                                                        <img [src]="!campaignService.events_values?.event?.event_two?.image?.image_url ? 'assets/img/event.jpg' : campaignService.events_values?.event?.event_two?.image?.image_url" />
                                                                        <div class="image-holder-block">
                                                                            <button class="image-update-btn-edit image-update-btn-edit-right" *ngIf="mode == 'edit'" (click)="openFileUploadModal(cropSquerImage,'event-event_two-image')" title="Change Image"><i class="icons-edit"></i></button>
                                                                        </div>
                                                                    </div>
                                                                    <h5>
                                                                        <div [ngClass]="{'landing-edit-block' : mode == 'edit'}">
                                                                            {{campaignService.events_values.event.event_two.title.value}}
                                                                            <button class="edit-element-btn" *ngIf="mode == 'edit'" (click)="updateText('event-event_two-title')"><i class="icons-edit"></i></button>
                                                                        </div>
                                                                    </h5>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="widget-item">
                                                                    <div class="image-container-full">
                                                                        <img [src]="!campaignService.events_values?.event?.event_three?.image?.image_url ? 'assets/img/event.jpg' : campaignService.events_values?.event?.event_three?.image?.image_url" />
                                                                        <div class="image-holder-block">
                                                                            <button class="image-update-btn-edit image-update-btn-edit-right" *ngIf="mode == 'edit'" (click)="openFileUploadModal(cropSquerImage,'event-event_three-image')" title="Change Image"><i class="icons-edit"></i></button>
                                                                        </div>
                                                                    </div>
                                                                    <h5>
                                                                        <div [ngClass]="{'landing-edit-block' : mode == 'edit'}">
                                                                            {{campaignService.events_values.event.event_three.title.value}}
                                                                            <button class="edit-element-btn" *ngIf="mode == 'edit'" (click)="updateText('event-event_three-title')"><i class="icons-edit"></i></button>
                                                                        </div>
                                                                    </h5>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <!-- <div class="col-sm-3">
                                                    <div class="widget-block">
                                                        <h3>Event</h3>
                                                        <ul>
                                                            <li>
                                                                <div class="widget-item">
                                                                    <div class="image-container-full">
                                                                        <img src="https://media.gettyimages.com/photos/what-a-great-speech-picture-id511305456?s=2048x2048" />
                                                                    </div>
                                                                    <h5>Event 1</h5>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="widget-item">
                                                                    <div class="image-container-full">
                                                                        <img src="https://media.gettyimages.com/photos/what-a-great-speech-picture-id511305456?s=2048x2048" />
                                                                    </div>
                                                                    <h5>Event 1</h5>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="widget-item">
                                                                    <div class="image-container-full">
                                                                        <img src="https://media.gettyimages.com/photos/what-a-great-speech-picture-id511305456?s=2048x2048" />
                                                                    </div>
                                                                    <h5>Event 1</h5>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #cropProfileImage>
    <div class="modal-body image-cropper-container">
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
        <app-banner-cropper (coverEvent)="receiveBannerResponse($event)" [banner_media]="media_object" [cover_type]="'banner_image'" [cover_type_id]="image_id"></app-banner-cropper>
    </div>
</ng-template>
<ng-template #cropImage>
    <div class="modal-body profile-cropper image-cropper-container">
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
        <app-profile-cropper (coverEvent)="receiveFileResponse($event)" [profile_media]="media_object" [cover_type]="'banner_image'" [cover_type_id]="image_id"></app-profile-cropper>
    </div>
</ng-template>
<ng-template #cropVerticalImage>
    <div class="modal-body profile-cropper image-cropper-container">
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
        <app-vertical-cropper (coverEvent)="receiveFileResponse($event)" [media_object]="media_object" [cover_type]="'banner_image'" [cover_type_id]="image_id"></app-vertical-cropper>
    </div>
</ng-template>
<ng-template #cropSquerImage>
    <div class="modal-body profile-cropper image-cropper-container">
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
        <app-squer-cropper (coverEvent)="receiveFileResponse($event)" [media_object]="media_object" [cover_type]="'banner_image'" [cover_type_id]="image_id"></app-squer-cropper>
    </div>
</ng-template>