.filter-block {
	margin: 10px 0 0;
}

.search-filed {
	position: relative;
	i {
		width: 30px;
		height: 30px;
		position:absolute;
		left: 10px;
		top: 50%;
		margin-top: -15px;
		font-size: 30px;
	}
	input[type="text"]{
		padding-left: 40px;
		max-width: 300px; 
	}
}

.filter-dd {
	width: 120px;
	.dropdown-toggle {
		    display: block;
		    border: 1px solid #ddd;
		    padding: 10px;
		    cursor: pointer;
		    border-radius: 6px;
		    position:relative;
		    background: #fff;
		    &:after{
		    	position: absolute;
			    right: 10px;
			    top: 17px;
			    border-top: 6px solid;
			    border-right: 6px solid transparent;
			    border-bottom: 0;
			    border-left: 6px solid transparent;
			    color: #777;
		    }
	}
}
.dropdown-menu {
	li {
		padding:10px;
		border-top:1px solid #ddd;
		&:first-child {
			border:none;
		}
	}
}


.listing-block {
	list-style: none;
	padding:0;
	margin-bottom: 0;
	> li { 
		
		.liting-card {
			border:1px solid #ddd;
			padding:10px;
			border-radius:6px;
			margin:5px 0;
			.thumb {
				height: 180px;
				width: 100%;
				overflow: hidden;
				img {
					width: 100%;
				}
			} 
			h2 {
				font-size: 20px;
			    margin: 0;
			    padding: 10px 0;
			    text-transform: capitalize;
			    text-align: center;
			}
			p {

			}
		}
	}
}

.block-footer {
	padding:20px 0 0;
	border-top:1px solid #ddd;
	margin-top: 20px;
}

.pagination {
	float: right;
	// border:1px solid #ddd;
	a {
		font-size:16px;
	}
}

.kn-details {
	padding: 0 0 30px;

	.detail-thumb {
		height: 400px;
		width: 100%;
		overflow: hidden;
		position:relative;
		img {
			width: 100%;
		}
	}
	h2 {
		margin: 0;
		padding:0 0 15px;
	}
	h3 {
		margin: 0;
		padding:0 0 10px;
	}
}

.related-content {
	h2 {
		font-size:24px;
	}
}
