<div class="main-content">
        <div class="tab-steps multi-step">
                <div class="row">
                        <div class="col-md-12">
                                <div class="modal-steps" [ngClass]="{'one':tabs_css === 1, 'two': tabs_css === 2, 'three':tabs_css === 3, '':tabs_css > 3}">
                                        <span *ngFor="let campaign_tab of campaignService.campaign_tabs" [ngClass]="{'d-none': !campaign_tab.is_tab}">
                                                <div class="step" [ngClass]="campaign_tab.active ? 'current' : 'completed'" *ngIf="campaign_tab.is_tab">
                                                        <div class="dot"></div>
                                                        <label class="label">
                                                                <span *ngIf="campaign_tab.active">{{campaign_tab.tilte}}</span>
                                                                <a *ngIf="!campaign_tab.active" [routerLink]="[campaign_tab.url]">{{campaign_tab.tilte}}</a>
                                                        </label>
                                                </div>
                                        </span>
                                </div>
                        </div>
                </div>
        </div>
        <div class="container-fluid">
                <div class="row">
                        <div class="col-md-12">
                                <div class="row">
                                        <div class="col-sm-12 text-right">
                                                <a [routerLink]="['/user/campaigns/',param_id,'templates']" class="btn btn-primary btn-default mr-2">Change Template</a>
                                                <button (click)="updateTemplateDetails()" class="btn btn-primary btn-default mr-2" [ngClass]="{'btn-loading': isSubmitting}">
                                                        <div class="loader"></div>
                                                        Save & Next
                                                </button>
                                                <button (click)="previewTemplate(mode == 'edit' ? 'view' : 'edit')" class="btn btn-primary">{{ mode == 'edit' ? 'Preview' : 'Edit'}}</button>
                                        </div>
                                </div>
                                <div class="head-block">
                                        <div class="container">
                                                <div class="row align-items-center">
                                                        <div class="col-6">
                                                                <div class="landing-edit-block">
                                                                        <button class="edit-element-btn">
                                                                                <i class="icons-edit"></i>
                                                                        </button>
                                                                        <a href="#">
                                                                                <img src="https://www.logo-design-india.com/wp-content/uploads/2015/12/medgulf.jpg" class="logo">
                                                                        </a>
                                                                </div>
                                                        </div>
                                                        <div class="col-6 text-right call-info">
                                                                <div class="landing-edit-block">
                                                                        <button class="edit-element-btn">
                                                                                <i class="icons-edit"></i>
                                                                        </button>
                                                                        <a href="tel:123456789">
                                                                                <img src="assets/img/landing-page/dark-call.svg">
                                                                                <span>123-456-7890</span>
                                                                        </a>
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                                <section class="banner-section">
                                        <div class="image-holder-block">
                                                <button class="image-update-btn-edit"><i class="icons-edit"></i> </button>
                                                <div class="banner-img">
                                                        <img src="assets/img/cover.jpeg">
                                                </div>
                                        </div>
                                        <div class="container">
                                                <div class="row align-items-center">
                                                        <div class="col-sm-7">
                                                                <div class="banner-content">
                                                                        <div class="landing-edit-block">
                                                                                <button class="edit-element-btn">
                                                                                        <i class="icons-edit"></i>
                                                                                </button>
                                                                                <h1>Lorem ipsum dolor sit amet, consectetur</h1>
                                                                        </div>
                                                                        <div class="landing-edit-block">
                                                                                <button class="edit-element-btn">
                                                                                        <i class="icons-edit"></i>
                                                                                </button>
                                                                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                                                                        </div>
                                                                </div>
                                                        </div>
                                                        <div class="col-sm-5">
                                                                <form class="mb-0">
                                                                        <div class="banner-form">
                                                                                <div class="landing-edit-block">
                                                                                        <button class="edit-element-btn">
                                                                                                <i class="icons-edit"></i>
                                                                                        </button>
                                                                                        <h3>Get your free trial now!</h3>
                                                                                </div>
                                                                                <div class="form-container">
                                                                                        <input type="text" placeholder="First Name">
                                                                                        <input type="text" placeholder="Last Name">
                                                                                        <input type="email" placeholder="Email">
                                                                                        <input type="tel" placeholder="Phone">
                                                                                        <button type="submit">Send</button>
                                                                                </div>
                                                                        </div>
                                                                </form>
                                                                <div class="form-call-text">
                                                                        <div class="landing-edit-block">
                                                                                <button class="edit-element-btn">
                                                                                        <i class="icons-edit"></i>
                                                                                </button>
                                                                                <span>Or Call Us Now</span>
                                                                        </div>
                                                                        <div class="landing-edit-block">
                                                                                <button class="edit-element-btn">
                                                                                        <i class="icons-edit"></i>
                                                                                </button>
                                                                                <a href="tel:12345689">555-555-5555</a>
                                                                        </div>
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                </section>
                        </div>
                </div>
        </div>
</div>