<div class="main-content">
    <div class="container-fluid">
        <div *ngFor="let alert of adminService.alerts">
            <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats down">
                    <div class="card-content">
                        <div class="cards-heading">
                            <h3>Total Students</h3>
                            <span class="card-icon-cbox"><i class="icons-team"></i></span>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="count">
                            <span>{{details.total_students.count}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats up">
                    <div class="card-content">
                        <div class="cards-heading">
                            <h3>Total Batches </h3>
                            <span class="card-icon-cbox"><i class="icons-system"></i></span>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="count">
                            <span>{{details.total_batches.count}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats up">
                    <div class="card-content">
                        <div class="cards-heading">
                            <h3>Total Boards</h3>
                            <span class="card-icon-cbox"><i class="icons-article"></i></span>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="count">
                            <span>{{details.total_boards.count}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats down">
                    <div class="card-content">
                        <div class="cards-heading">
                            <h3>Total Revenue</h3>
                            <span class="card-icon-cbox"><i class="icons-growth"></i></span>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="count">
                            <span>{{details.total_revenues.count}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Last Transition List</h3>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="text-primary bg-lighten">
                                    <th>S. Name</th>
                                    <th>Class</th>
                                    <th>Amount Pay</th>
                                    <th>Mode</th>
                                    <th>Remaining fee</th>
                                    <th>Pay Date</th>
                                </thead>
                                <tbody *ngIf="rows.length > '0'">
                                    <tr *ngFor="let row of rows; let i = index">
                                        <td>{{ row.name || 0}}</td>
                                        <td>{{ row.class || 0}}</td>
                                        <td>{{ row.fee_paid || 0}}</td>
                                        <td>{{ row.pay_mode || 'CASH'}}</td>
                                        <td>{{ row.remain_fee || 0}}</td>
                                        <td>{{ row.paid_date | date: 'mediumDate'}}</td>
                                        
                                    </tr>
                                <tbody *ngIf="rows.length == 0">
                                    <tr>
                                        <td colspan="4" style="text-align: center;">
                                            <p class="no-table-data">No data to display</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>