
.block-footer {
	padding:20px 0 0;
	border-top:1px solid #ddd;
	margin-top: 20px;
}

.pagination {
	float: right;
	/*border:1px solid #ddd;*/
	a {
		font-size:16px;
	}
}
.isDisabled {
	pointer-events: none;
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
}

.isSelected {
  color: red;
  cursor: not-allowed;
  background-color: red;
}


