<div class="main-content">
    <div *ngFor="let alert of userService.alerts">
        <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
    </div>
    <div class="tab-steps multi-step">
        <div class="row">
            <div class="col-md-12">
                <div class="modal-steps" [ngClass]="{'one':tabs_css === 1, 'two': tabs_css === 2, 'three':tabs_css === 3, '':tabs_css > 3}">
                        <span *ngFor="let campaign_tab of campaignService.campaign_tabs" [ngClass]="{'d-none': !campaign_tab.is_tab}">
                        <div class="step" [ngClass]="campaign_tab.active ? 'current' : 'completed'" *ngIf="campaign_tab.is_tab">
                            <div class="dot"></div>
                            <label class="label">
                                <span *ngIf="campaign_tab.active">{{campaign_tab.tilte}}</span>
                                <a *ngIf="!campaign_tab.active" [routerLink]="[campaign_tab.url]">{{campaign_tab.tilte}}</a>
                            </label>
                        </div>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <!-- <div class="row">
            <div class="col-md-12">
                <span>Select Template</span>
            </div>
        </div> -->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <button class="btn-text-icon back-page-btn" (click)="goToBack()"><i class="icons-arrow-up"></i>Back</button>
                            </div>
                        </div>
                        <ul class="row landing-template-listing" *ngIf="rows.length > 0">
                            <li class="col-sm-4" *ngFor="let row of rows; let i = index">
                                <div class="template-view">
                                    <div *ngIf="detail.template_guid == row.template_guid" class="template-selected">
                                        <i class="icons-check"></i>
                                    </div>
                                    <!-- [routerLink]="['/user/campaigns/', row.template_guid,'design']" -->
                                    <!-- <a *ngIf="!detail.campaign_template_guid" (click)="addCampaignTemplate(row.template_guid)"> -->
                                    <a *ngIf="!detail.campaign_template_guid" (click)="openModal(confirmation_template, row.template_guid)">
                                        <div class="template-img" [ngStyle]="{'background-image': 'url(' + row?.image_url + ')'}">
                                        </div>
                                        <span>{{row.name | titlecase}}</span>
                                        <!-- <span *ngIf="detail.template_guid == row.template_guid" >Selected</span> -->
                                    </a>
                                    <!-- <a *ngIf="detail.campaign_template_guid" (click)="updateCampaignTemplate(row.template_guid)"> -->
                                    <a *ngIf="detail.campaign_template_guid" (click)="openModal(confirmation_template, row.template_guid)">
                                        <div class="template-img" [ngStyle]="{'background-image': 'url(' + row?.image_url + ')'}">
                                        </div>
                                        <span>{{row.name | titlecase}}</span>
                                        <!-- <span *ngIf="detail.template_guid == row.template_guid" >Selected</span> -->
                                    </a> 
                                </div>
                            </li> 
                        </ul>
                        <div *ngIf="rows?.length == 0" class="text-center">
                            <p class="no-table-data">No data to display</p>
                        </div>
                        <div class="block-footer" *ngIf="pages?.length > 1" >
                            <div class="row">
                                <div class="col-sm-12">
                                    <ul class="pagination">
                                        <li class="page-item">
                                            <a [class.isDisabled]="current_page === 1" class="page-link prev-nav-icon" aria-label="Previous" (click)="paginationAction('prev')">
                                                <i class="icons-chevron-down"></i>
                                            </a>
                                        </li>
                                        <li class="page-item" *ngFor="let page of pages">
                                            <a [class.isSelected]="current_page === page+1" class="page-link" (click)="setPage(page+1)">{{page+1}}</a>
                                        </li>
                                        <li class="page-item">
                                            <a [class.isDisabled]="current_page === last_index" class="page-link next-nav-icon " aria-label="Next" (click)="paginationAction('next')">
                                                <i class="icons-chevron-down"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #confirmation_template>
    <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="decline()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body text-center">
        <p>{{message}}</p>
        <div class="col-md-12">
            <button class="btn btn-primary mr-3" (click)="confirm()"> <div class="loader"></div>Proceed</button>
            <button type="button" (click)="decline()" class="btn btn-default mr-3">Cancel</button>
        </div>
    </div>        
</ng-template>