<div class="main-content">
    <div *ngFor="let alert of userService.alerts">
        <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
    </div>
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <div class="search-header-block row mb-4">
                    <div class="col-sm-3">
                        <!-- <div class="form-group">
                                    <input type="text" class="regular-form" id="search" placeholder="Search by Name, Email" [(ngModel)]="parameters.keyword" (keyup)="search($event)">
                                </div> -->
                    </div>
                    <div class="col-sm-9 text-right">
                        <!-- <button (click)="exportCRMContactFile()" class="btn-text mr-sm-3"><i class="icons-move_to_inbox"></i> Export Contacts</button>
                                <button class="btn-text mr-sm-3" (click)="downloadSampleFile()"><i class="icons-save_alt"></i> Download Sample File</button>
                                <button (click)="openBulkImportModal()" class="btn btn-primary btn-default mr-sm-3">Bulk import</button>
                                <button class="btn btn-primary" (click)="openAddModal()"><i class="icons-plus"></i>Add Contact</button> -->
                    </div>
                </div>
                <div class="col-sm-12">
                    <!-- <div class="table-responsive d-none">
                        <ngx-datatable #table class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50"
                            [footerHeight]="50" [rowHeight]="50" [scrollbarV]="false" [externalPaging]="true"
                            [count]="counts" [offset]="page_no" [limit]="parameters?.pagination?.limit"
                            (page)='setPage($event)' (sort)="onSort($event)">
                            <ngx-datatable-column name="Agency Name" [sortable]="false">
                                <ng-template let-rowIndex="rowIndex" let-row="row" let-value="value"
                                    ngx-datatable-cell-template>
                                    <a matTooltip="View Contact Info"
                                        [routerLink]="['/user/note/add/', row.crm_contact_guid]"
                                        [matTooltipPosition]="'below'">{{row.agency_name | titlecase}}</a>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Business Name" [sortable]="false">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    {{row.business_name || '--'}}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Plan Name" [sortable]="false">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    {{row.plan || '--'}}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Signup Date" [sortable]="false">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    {{row.created_at | date: 'mediumDate'}}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Days in	this billing cycle" [sortable]="false">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    {{row.billing_daye || '--'}}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Amount to be billed" [sortable]="false">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    {{row.amount || '--'}}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Actions" [sortable]="false">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                        <div class="td-action">
                                            <a matTooltip="Edit" (click)="openEditModal(row.crm_contact_guid)" [matTooltipPosition]="'below'"><i class="icons-create"></i></a>
                                            <a matTooltip="View Contact Info" [routerLink]="['/user/note/add/', row.crm_contact_guid]" [matTooltipPosition]="'below'"><i class="icons-remove_red_eye"></i></a>
                                        </div>
                                    </ng-template>
                                    </ngx-datatable-column>
                        </ngx-datatable>
                    </div> -->

                    <div class="table-responsive agency-table-container">
                        <table class="table agency-table-block">
                            <tbody>
                                <tr class="">
                                    <td>
                                        <table width="100%" class="agency-table-block" border="0" cellspacing="0"
                                            cellpadding="0">
                                            <thead class="text-primary bg-lighten">
                                                <tr>
                                                    <th width="150">Agency Name</th>
                                                    <th width="150">Business Name</th>
                                                    <th width="100">Plan</th>
                                                    <th width="120">Signup Date</th>
                                                    <th width="220">Days In This Billing Cycle</th>
                                                    <th width="200">Amount To Be Billed</th>
                                                    <th width="100">
                                                        <div class="agency-action-block">Actions</div>
                                                    </th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </td>
                                </tr>
                                <tr *ngFor="let row of rows">
                                    <td>
                                        <table class="table agency-table-block inside" border="0" cellspacing="0" cellpadding="0">
                                            <tbody>
                                                <tr>
                                                    <td width="150">{{row.name || '--'}}</td>
                                                    <td width="150">--</td>
                                                    <td width="100">{{row.package || '--'}}</td>
                                                    <td width="120">{{row.created_at | date: 'mediumDate'}}</td>
                                                    <td width="220">--</td>
                                                    <td width="200">--</td>
                                                    <td width="100">
                                                        <div class="agency-action-block">
                                                            <a matTooltip="Download Excel" (click)="exportFile(row.user_id)"><i
                                                                    class="icons-move_to_inbox"></i></a>
                                                            <a matTooltip="Email Agency" href="mailto:{{row.email}}"><i
                                                                    class="icons-envelope"></i></a>
                                                            <!-- <a matTooltip="Invoice via Stripe" href="#"><i -->
                                                                    <!-- class="icons-tag"></i></a> -->
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr *ngFor="let user of row.agency_users">
                                                    <td></td>
                                                    <td>{{user.business_name || '--'}}</td>
                                                    <td>{{user.package || '--'}}</td>
                                                    <td>{{user.created_at | date: 'mediumDate'}}</td>
                                                    <td>{{user.billing_days || 0}}</td>
                                                    <td>${{user.plan_amount || 0}}</td>
                                                    <td>
                                                        <div class="agency-action-block"></div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div *ngIf="rows?.length == 0" class="text-center">
                    <p class="no-table-data">No data to display</p>
                </div>
                <div class="block-footer" *ngIf="pages?.length > 1" >
                    <div class="row">
                        <div class="col-sm-12">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a [class.isDisabled]="current_page === 1" class="page-link prev-nav-icon" aria-label="Previous" (click)="paginationAction('prev')">
                                        <i class="icons-chevron-down"></i>
                                    </a>
                                </li>
                                <li class="page-item" *ngFor="let page of pages">
                                    <a [class.isSelected]="current_page === page+1" class="page-link" (click)="setPage(page+1)">{{page+1}}</a>
                                </li>
                                <li class="page-item">
                                    <a [class.isDisabled]="current_page === last_index" class="page-link next-nav-icon" aria-label="Next" (click)="paginationAction('next')">
                                        <i class="icons-chevron-down"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>