
.home-loader-table-table {
          display: block;
          text-align: center;
          width: 2.2585em;
          height: 2.2585em;
          font-size: 2em;
          z-index: 99999; 
          position: relative;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
      }
      
      .home-loader-table:before {
          position: absolute;
          content: '';
          top: 0;
          left: 0;
          border-radius: 50%;
          border: .15em solid #D1D1D1;
      }
      
      .home-loader-table:after {
          position: absolute;
          content: '';
          top: 0;
          left: 0;
          -webkit-animation: home-loader-table .8s linear;
          animation: home-loader-table .8s linear;
          -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
          border-radius: 50%;
          border-color: #ff5a60 #ff5a60 transparent transparent;
          border-style: solid;
          border-width: .15em;
          box-shadow: 0 0 0 1px transparent;
      }
      
      .home-loader-table:after,
      .home-loader-table:before {
          width: 2.2585em;
          height: 2.2585em;
          margin: 0;
          box-sizing: border-box;
      }
      
      @-webkit-keyframes home-loader-table {
          from {
              -webkit-transform: rotate(0);
              transform: rotate(0);
          }
          to {
              -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
          }
      }
      
      @-moze-keyframes home-loader-table {
          from {
              -webkit-transform: rotate(0);
              transform: rotate(0);
          }
          to {
              -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
          }
      }
      
      @keyframes home-loader-table {
          from {
              -webkit-transform: rotate(0);
              transform: rotate(0);
          }
          to {
              -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
          }
      }