<div *ngIf="details.template_unique_name == 'template_real_estate'">
    <real-estate-template [details]="details" [mode]="'edit'"></real-estate-template>
</div>
<div *ngIf="details.template_unique_name == 'template_fitness'">
    <fitness-template [details]="details" [mode]="'edit'"></fitness-template>
</div>
<div *ngIf="details.template_unique_name == 'template_retail'">
    <retail-template [details]="details" [mode]="'edit'"></retail-template>
</div>
<div *ngIf="details.template_unique_name == 'template_restaurant'">
    <restaurant-template [details]="details" [mode]="'edit'"></restaurant-template>
</div>
<div *ngIf="details.template_unique_name == 'template_event'">
    <event-template [details]="details" [mode]="'edit'"></event-template>
</div>
<div *ngIf="details.template_unique_name == 'template_automotive'">
    <automotive-template [details]="details" [mode]="'edit'"></automotive-template>
</div>
<div *ngIf="details.template_unique_name == 'template_media'">
    <media-template [details]="details" [mode]="'edit'"></media-template>
</div>
<div *ngIf="details.template_unique_name == 'template_real_estate_two'">
    <real-estate-two-template [details]="details" [mode]="'edit'"></real-estate-two-template>
</div>
<div *ngIf="details.template_unique_name == 'template_simple'">
    <simple-template [details]="details" [mode]="'edit'"></simple-template>
</div>
<div *ngIf="details.template_unique_name == 'template_detailed'">
    <detailed-template [details]="details" [mode]="'edit'"></detailed-template>
</div>

