<div class="main-content">
    <div *ngFor="let alert of userService.alerts">
        <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
    </div>
    <!-- <ul>
        <li *ngFor="let campaign_tab of campaignService.campaign_tabs">
            <div *ngIf="campaign_tab.is_tab">
                    <span *ngIf="campaign_tab.active">*</span> <a href="{{ campaign_tab.url }}">{{campaign_tab.tilte}}</a> 
            </div>
        </li>
    </ul> -->
    
    <div class="tab-steps multi-step">
        <div class="row">
            <div class="col-md-12">
                <div class="modal-steps" [ngClass]="{'one':tabs_css === 1, 'two': tabs_css === 2, 'three':tabs_css === 3, '':tabs_css > 3}">
                        <span *ngFor="let campaign_tab of campaignService.campaign_tabs" [ngClass]="{'d-none': !campaign_tab.is_tab}">
                        <div class="step" [ngClass]="campaign_tab.active ? 'current' : 'completed'" *ngIf="campaign_tab.is_tab">
                            <div class="dot"></div>
                            <label class="label">
                                <span *ngIf="campaign_tab.active">{{campaign_tab.tilte}}</span>
                                <a *ngIf="!campaign_tab.active" [routerLink]="[campaign_tab.url]">{{campaign_tab.tilte}}</a>
                            </label>
                        </div>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <button class="btn-text-icon back-page-btn" (click)="goToBack()"><i class="icons-arrow-up"></i>Back</button>
                            </div>
                        </div>
                        <div class="form-container">
                            <form [formGroup]="submitFrom" (ngSubmit)="submitForm()">
                                <div class="form-content row">
                                    <div class="col-md-12">
                                        <div class="form-field">
                                            <label class="text-left">Page Title <span class="required">*</span></label>
                                            <input formControlName="page_title" class="input-field" type="text" />
                                            <errors class="error-msz" [control]="submitFrom.controls.page_title"></errors>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-field">
                                            <label class="text-left">Form Submission Email<span class="required">*</span></label>
                                            <input placeholder="Email" formControlName="email_receiver" email-validate class="input-field" type="text" />
                                            <errors class="error-msz" [control]="submitFrom.controls.email_receiver"></errors>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-field">
                                            <label class="text-left">Page URL <span class="required">*</span></label>
                                            <input formControlName="page_url" class="input-field" type="text" readonly/>
                                            <errors class="error-msz" [control]="submitFrom.controls.page_url"></errors>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-field">
                                            <label class="text-left">Script</label>
                                            <textarea formControlName="custom_page_script"></textarea>
                                            <errors class="error-msz" [control]="submitFrom.controls.page_script"></errors>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <button class="btn btn-primary mr-3" [disabled]="!submitFrom.valid || isSubmitting" [ngClass]="{'btn-loading': isSubmitting}"> <div class="loader"></div>Save</button>
                                        <a class="btn btn-primary btn-default" [routerLink]="['/user/campaigns']">Cancel</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
    </div>
</div>