<div *ngFor="let alert of userService.alerts">
    <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
</div>
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="search-header-block">
                        <div class="col-sm-5">
                            <div class="form-group">
                                <input type="text" class="regular-form" id="search" placeholder="Search by Title" [(ngModel)]="parameters.keyword" (keyup)="search($event)">
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <a class="btn btn-primary pull-right" [routerLink]="['/console/knowledgebase-add']"><i class="icons-plus"></i>Add New</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <ngx-datatable #table class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                              [rowHeight]="50" [scrollbarV]="false" [externalPaging]="true" [count]="counts" [offset]="page_no" [limit]="parameters?.pagination?.limit" (page)='setPage($event)'(sort)="onSort($event)">
                                <ngx-datatable-column name="Content Title">
                                    <ng-template let-rowIndex="rowIndex" let-row="row" let-value="value" ngx-datatable-cell-template>
                                        {{row.name | titlecase}}
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Category" [sortable]="false">
                                    <ng-template let-rowIndex="rowIndex" let-row="row" let-value="value" ngx-datatable-cell-template>
                                        {{ userService.getCommaSepratedString(row.categories) }}
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Status">
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        {{row.status | titlecase}}
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Date" [sortable]="false">
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        {{row.created_at | date: 'mediumDate'}}
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Actions" [sortable]="false">
                                    <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                                        <div class="td-action">
                                            <a matTooltip="Edit" [routerLink]="['/console/knowledgebase-edit', row.knowledgebase_id]" [matTooltipPosition]="'below'"><i class="icons-create"></i></a>

                                            <a *ngIf="row.status=='ACTIVE'"  matTooltip="Deactivate" [matTooltipPosition]="'below'" (click)="chageStatus(row.knowledgebase_id,'INACTIVE', rowIndex)">
                                               <i class="icons-check_circle"></i>
                                            </a>
                                            <a *ngIf="row.status=='INACTIVE'"  matTooltip="Activate" [matTooltipPosition]="'below'" (click)="chageStatus(row.knowledgebase_id,'ACTIVE', rowIndex)">
                                                <i class="icons-highlight_remove"></i>
                                            </a>
                                        </div>
                                    </ng-template>
                                </ngx-datatable-column>
                            </ngx-datatable>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>