<div class="main-content">
    <div *ngFor="let alert of userService.alerts">
        <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="search-header-block">
                        <div class="col-sm-5">
                            <div class="form-group">
                                <input type="text" class="regular-form" id="search" placeholder="Search by Name"
                                    [(ngModel)]="parameters.keyword" (keyup)="search($event)">
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <a class="btn btn-primary pull-right" [routerLink]="['/console/add-pricing-plan']"><i
                                    class="icons-plus"></i>Add New</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <ngx-datatable #table class="material" [rows]="rows" [columnMode]="'force'"
                                [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [scrollbarV]="false"
                                [externalPaging]="true" [count]="counts" [offset]="page_no"
                                [limit]="parameters?.pagination?.limit" (page)='setPage($event)'
                                (sort)="onSort($event)">
                                <ngx-datatable-column name="Name" [sortable]="false">
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        {{row.name | titlecase}}
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Price" [sortable]="false">
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        ${{row.base_price}}
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Subscriptions" [sortable]="false">
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        {{row.subscription_count}}
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Type" [sortable]="false">
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        {{(row.type == 'NON_AGENCY' ? 'Individual' : row.type) | titlecase}}
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Status" [sortable]="false">
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        {{row.status | titlecase}}
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Is Retired" [sortable]="false">
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        {{row.is_archive | titlecase}}
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Billing Period" [sortable]="false">
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        {{row.interval | titlecase}}
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Discount" [sortable]="false">
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        {{row.discount || 0 }}
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Created Date" [sortable]="false">
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        {{row.created_at | date: 'mediumDate'}}
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Actions" [sortable]="false">
                                    <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                                        <div class="td-action">
                                            <a *ngIf="row.status=='ACTIVE'"  matTooltip="Deactivate" [matTooltipPosition]="'below'" (click)="changePricingPlanStatus(row.pricing_plan_guid,'INACTIVE', rowIndex)">
                                                <i class="icons-check_circle"></i>
                                            </a>
                                            <a *ngIf="row.status=='INACTIVE'"  matTooltip="Activate" [matTooltipPosition]="'below'" (click)="changePricingPlanStatus(row.pricing_plan_guid,'ACTIVE', rowIndex)">
                                                <i class="icons-highlight_remove"></i>
                                            </a>
                                            <a matTooltip="Edit"  [routerLink]="['/console/pricing-plan', row.pricing_plan_guid, 'edit']" [matTooltipPosition]="'below'"><i class="icons-create"></i></a>
                                            <a *ngIf="row.subscription_count == 0" matTooltip="Delete" (click)="openModal(confirmation_template, row.pricing_plan_guid)"  [matTooltipPosition]="'below'"><i class="icons-delete"></i></a>
                                        </div>
                                    </ng-template>
                                </ngx-datatable-column>
                            </ngx-datatable>
                        </div>
                        <div>
                            <ul>
                                <li><strong>Retire:</strong> Keeps the existing subscribers in old plan, but disables old plan for new subscriptions. New plan replaces it for new users.</li>
                                <li><strong>Migrate:</strong> Migrate replaces the plan and moves the subscribers to newly created plan.</li>
                                <li><strong>Delete:</strong> Delete allows for you to delete a plan only if the plan has no subscribers.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #confirmation_template>
    <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="decline()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body text-center">
        <p>{{message}}</p>
        <div class="col-md-12">
            <button class="btn btn-primary mr-3" (click)="confirm()"> <div class="loader"></div>Proceed</button>
            <button type="button" (click)="decline()" class="btn btn-default mr-3">Cancel</button>
        </div>
    </div>        
</ng-template>