.error-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: absolute;
    left: 0;
    bottom: -28px;
    font-size: 14px;
    width: 100%;
    text-align: right;
}

.error-list span {
    padding: 0;
    margin: 0;
    color: #ff0000;
    display: block;
}