<div class="main-content">
    <div *ngFor="let alert of userService.alerts">
        <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body"> 
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn-text-icon back-page-btn" (click)="goToBack()"><i class="icons-arrow-up"></i>Back</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mb-4">
                            <a *ngIf="currentUser.user_type === 'USER' && currentUser.user_role === 'USER_INDIVIDUAL_OWNER'" class="btn btn-primary" target="_blank" href="https://www.marketingtiki.com/pricing" >View Plans</a>
                            <a *ngIf="currentUser.user_type === 'USER' && currentUser.user_role === 'USER_AGENCY_OWNER'" class="btn btn-primary" target="_blank" href="https://www.marketingtiki.com/agency-pricing">View Plans</a>
                        </div>
                    </div>
                    <ul class="row landing-template-listing" *ngIf="plans.length > 0">
                        <li class="col-sm-4" *ngFor="let row of plans; let i = index">
                            <div class="template-view">
                                <div *ngIf="details.subscription.plan.id === row.stripe_pricing_plan_id" class="template-selected">
                                    <i class="icons-check"></i>
                                </div>
                                <a *ngIf="row.status === 'ACTIVE'" (click)="openModal(confirmation_template, row)">
                                    <h3 class="text-center">{{row.name | titlecase}}</h3>
                                    <h6 class="text-center">Billed Monthly</h6>
                                    <span class="text-center">${{ row.base_price }}/ Month</span>
                                </a> 
                                <!-- <a *ngIf="row.status === 'INACTIVE'">
                                    <h3 class="text-center">{{row.name | titlecase}}</h3>
                                    <h6 class="text-center">Billed Monthly</h6>
                                    <span class="text-center">${{ row.base_price }}/ Month</span>
                                </a>  -->
                            </div>
                        </li> 
                    </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #confirmation_template>
    <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="decline()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body text-center">
        <p>{{message}}</p>
        <div class="col-md-12">
            <button class="btn btn-primary mr-3" (click)="confirm()"> <div class="loader"></div>Update</button>
            <button type="button" (click)="decline()" class="btn btn-default mr-3">Cancel</button>
        </div>
    </div>        
</ng-template>