<div class="main-content">
    <div *ngFor="let alert of userService.alerts">
        <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
    </div>

<!-- <div class="tab-steps multi-step">
    <div class="row">
        <div class="col-md-12">
            <div class="modal-steps">
                <span *ngFor="let campaign_tab of campaignService.campaign_tabs" [ngClass]="{'d-none': !campaign_tab.is_tab}">
                    <div class="step" [ngClass]="campaign_tab.active ? 'current' : 'completed'" *ngIf="campaign_tab.is_tab">
                        <div class="dot"></div>
                        <label class="label">
                             <span *ngIf="campaign_tab.active">{{campaign_tab.tilte}}</span>
                             <a *ngIf="!campaign_tab.active" [routerLink]="[campaign_tab.url]">{{campaign_tab.tilte}} </a>
                        </label>
                    </div>
                </span>
            </div>
        </div>
    </div>
</div> -->
<div class="tab-steps multi-step">
    <div class="row">
        <div class="col-md-12">
                <div class="modal-steps" [ngClass]="{'one':tabs_css === 1, 'two': tabs_css === 2, 'three':tabs_css === 3, '':tabs_css > 3}">
                <span *ngFor="let campaign_tab of campaignService.campaign_tabs" [ngClass]="{'d-none': !campaign_tab.is_tab}">
                    <div class="step" [ngClass]="campaign_tab.active ? 'current' : 'completed'">
                        <div class="dot"></div>
                        <label class="label">
                             <span *ngIf="campaign_tab.active">{{campaign_tab.tilte}}</span>
                             <a *ngIf="!campaign_tab.active" [routerLink]="[campaign_tab.url]">{{campaign_tab.tilte}} </a>
                        </label>
                    </div>
                </span>
            </div>
        </div>
    </div>
</div>

    <!-- <ul>
        <li *ngFor="let campaign_tab of campaignService.campaign_tabs">
            <div *ngIf="campaign_tab.is_tab">
                    <span *ngIf="campaign_tab.active">*</span> <a href="{{ campaign_tab.url }}">{{campaign_tab.tilte}}</a> 
            </div>
        </li>
    </ul> -->
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <button class="btn-text-icon back-page-btn" (click)="goToBack()"><i class="icons-arrow-up"></i>Back</button>
                    </div>
                </div>
                <div class="form-container">
                    <form [formGroup]="submitFrom" (ngSubmit)="submitForm()">
                        <div class="form-content row">
                            <div class="col-md-12" *ngIf="is_admin">
                                <div class="form-field">
                                    <label class="text-center" *ngIf="canAddCampaign">Campaign limit reached</label>
                                    <label class="text-left">User</label>
                                    <select formControlName="user_id" (change)="onUserChange()">
                                        <option value="">Select User</option>
                                        <option *ngFor="let user of user_list" [ngValue]="user.user_guid">
                                            {{ user.name }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-field">
                                    <label class="text-left">Campaign Name <span class="required">*</span></label>
                                    <input formControlName="campaign_name" class="regular-form" type="text" />
                                    <errors class="error-msz" [control]="submitFrom.controls.campaign_name"></errors>
                                </div>
                                <div class="form-field">
                                    <label class="text-left">Campaign Go Live Date<span
                                            class="required">*</span></label>
                                    <input [bsConfig]="bsConfig" [(bsValue)]="default_date" type="text"
                                        placeholder="Date" class="regular-form" (bsValueChange)="onValueChange($event)"
                                        bsDatepicker readonly>
                                    <input formControlName="campaign_live_date" class="regular-form" type="hidden" />
                                </div>
                                <div class="form-field">
                                    <label for="title_text">Campaign Features</label>
                                    <div class="custom-control custom-checkbox my-1 mr-sm-2 custom-control-inline">
                                        <input type="checkbox" class="custom-control-input" id="activeBox"
                                            formControlName="is_landing_page" (change)="onFeatureChange();">
                                        <label class="custom-control-label label-light" for="activeBox">Landing
                                            Page</label>
                                    </div>
                                    <div class="custom-control custom-checkbox my-1 mr-sm-2 custom-control-inline">
                                        <input type="checkbox" class="custom-control-input" id="is_qr_code"
                                            formControlName="is_qr_code" (change)="onFeatureChange();">
                                        <label class="custom-control-label label-light" for="is_qr_code">QR Code</label>
                                    </div>
                                    <div class="custom-control custom-checkbox my-1 mr-sm-2 custom-control-inline">
                                        <input type="checkbox" class="custom-control-input" id="is_call_tracking_number"
                                            formControlName="is_call_tracking_number" (change)="onFeatureChange();">
                                        <label class="custom-control-label label-light"
                                            for="is_call_tracking_number">Call Tracking Number</label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-field">
                                    <label class="text-left">Campaign Goal<span class="required">*</span></label>
                                    <textarea formControlName="campaign_goal"></textarea>
                                    <errors class="error-msz" [control]="submitFrom.controls.campaign_goal"></errors>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <button class="btn btn-primary mr-3" [disabled]="!submitFrom.valid || isSubmitting || canAddCampaign"
                                    [ngClass]="{'btn-loading': isSubmitting}">
                                    <div class="loader"></div>Next
                                </button>
                                <a class="btn btn-primary btn-default" [routerLink]="['/user/campaigns']">Cancel</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>