<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="form-container">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-content">
                                        <div class="form-field mb-4">
                                            <label for="title_text">title</label>
                                            <input id="title_text" type="text" name="">
                                        </div>
                                    </div>
                                    <div class="form-content">
                                        <div class="form-field">
                                            <label for="title_text">Body</label>
                                            <textarea></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-8 row">
                                        <div class="col-md-6">
                                            <div class="form-field mb-4">
                                                <label for="title_text">Date</label>
                                                <input id="title_text" type="date" name="">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-field mb-4">
                                                <label for="title_text">Time</label>
                                                <input id="title_text" type="time" name="">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-field mb-4">
                                                <label for="title_text">Users</label>
                                                <div class="custom-control custom-checkbox my-1 mr-sm-2 custom-control-inline">
                                                  <input type="checkbox" class="custom-control-input" id="activeBox">
                                                  <label class="custom-control-label label-light" for="activeBox">Active</label>
                                                </div>
                                                <div class="custom-control custom-checkbox my-1 mr-sm-2 custom-control-inline">
                                                  <input type="checkbox" class="custom-control-input" id="InactiveBox">
                                                  <label class="custom-control-label label-light" for="InactiveBox">Active</label>
                                                </div>
                                                <div class="custom-control custom-checkbox my-1 mr-sm-2">
                                                  <input type="checkbox" class="custom-control-input" id="signboxactive">
                                                  <label class="custom-control-label label-light" for="signboxactive">Signed up(in last 30 days) </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-field mb-4">
                                                <div class="custom-control custom-checkbox my-1 mr-sm-2">
                                                  <input type="checkbox" class="custom-control-input" id="lastlogincheck">
                                                  <label class="custom-control-label label-light" for="lastlogincheck">Last Login Between</label>
                                                  <input id="title_text" type="time" name="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-field">
                                                <div class="custom-control custom-checkbox my-1 mr-sm-2">
                                                  <input type="checkbox" class="custom-control-input" id="agengyCheck">
                                                  <label class="custom-control-label" for="agengyCheck">Agency</label>
                                                </div>
                                                <div class="pl-3">
                                                    <div class="custom-control custom-checkbox my-1 mr-sm-3 custom-control-inline">
                                                      <input type="checkbox" class="custom-control-input" id="allPlans">
                                                      <label class="custom-control-label label-light" for="allPlans">all</label>
                                                    </div>
                                                    <div class="custom-control custom-checkbox my-1 mr-sm-3 custom-control-inline">
                                                      <input type="checkbox" class="custom-control-input" id="planOne">
                                                      <label class="custom-control-label label-light" for="planOne">Plan 1</label>
                                                    </div>
                                                    <div class="custom-control custom-checkbox my-1 mr-sm-3 custom-control-inline">
                                                      <input type="checkbox" class="custom-control-input" id="PlanTwo">
                                                      <label class="custom-control-label label-light" for="PlanTwo">Plan 2</label>
                                                    </div>
                                                    <div class="custom-control custom-checkbox my-1 mr-sm-3 custom-control-inline">
                                                      <input type="checkbox" class="custom-control-input" id="PlanThree">
                                                      <label class="custom-control-label label-light" for="PlanThree">Plan 3</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-field">
                                                <div class="custom-control custom-checkbox my-1 mr-sm-3">
                                                  <input type="checkbox" class="custom-control-input" id="Non-Agency">
                                                  <label class="custom-control-label" for="Non-Agency">Non-Agency</label>
                                                </div>
                                                <div class="pl-3">
                                                    <div class="custom-control custom-checkbox my-1 mr-sm-3 custom-control-inline">
                                                      <input type="checkbox" class="custom-control-input" id="aall">
                                                      <label class="custom-control-label label-light" for="aall">all</label>
                                                    </div>
                                                    <div class="custom-control custom-checkbox my-1 mr-sm-3 custom-control-inline">
                                                      <input type="checkbox" class="custom-control-input" id="naplanOne">
                                                      <label class="custom-control-label label-light" for="naplanOne">Plan 1</label>
                                                    </div>
                                                    <div class="custom-control custom-checkbox my-1 mr-sm-3 custom-control-inline">
                                                      <input type="checkbox" class="custom-control-input" id="naplanTwo">
                                                      <label class="custom-control-label label-light" for="naplanTwo">Plan 2</label>
                                                    </div>
                                                    <div class="custom-control custom-checkbox my-1 mr-sm-3 custom-control-inline">
                                                      <input type="checkbox" class="custom-control-input" id="naplanThree">
                                                      <label class="custom-control-label label-light" for="naplanThree">Plan 3</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                                <div class="col-sm-12">
                                    <button mat-raised-button class="btn btn-primary btn-lg">Default</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



<!--             <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="text-primary">
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Country</th>
                                    <th>City</th>
                                    <th>Salary</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            1
                                        </td>
                                        <td>
                                            Dakota Rice
                                        </td>
                                        <td>
                                            Niger
                                        </td>
                                        <td>
                                            Oud-Turnhout
                                        </td>
                                        <td class="text-primary">
                                            $36,738
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            2
                                        </td>
                                        <td>
                                            Minerva Hooper
                                        </td>
                                        <td>
                                            Curaçao
                                        </td>
                                        <td>
                                            Sinaai-Waas
                                        </td>
                                        <td class="text-primary">
                                            $23,789
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            3
                                        </td>
                                        <td>
                                            Sage Rodriguez
                                        </td>
                                        <td>
                                            Netherlands
                                        </td>
                                        <td>
                                            Baileux
                                        </td>
                                        <td class="text-primary">
                                            $56,142
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            4
                                        </td>
                                        <td>
                                            Philip Chaney
                                        </td>
                                        <td>
                                            Korea, South
                                        </td>
                                        <td>
                                            Overland Park
                                        </td>
                                        <td class="text-primary">
                                            $38,735
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            5
                                        </td>
                                        <td>
                                            Doris Greene
                                        </td>
                                        <td>
                                            Malawi
                                        </td>
                                        <td>
                                            Feldkirchen in Kärnten
                                        </td>
                                        <td class="text-primary">
                                            $63,542
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            6
                                        </td>
                                        <td>
                                            Mason Porter
                                        </td>
                                        <td>
                                            Chile
                                        </td>
                                        <td>
                                            Gloucester
                                        </td>
                                        <td class="text-primary">
                                            $78,615
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div> -->
<!--             <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title mt-0"> Table on Plain Background</h4>
                        <p class="card-category"> Here is a subtitle for this table</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Country
                                    </th>
                                    <th>
                                        City
                                    </th>
                                    <th>
                                        Salary
                                    </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            1
                                        </td>
                                        <td>
                                            Dakota Rice
                                        </td>
                                        <td>
                                            Niger
                                        </td>
                                        <td>
                                            Oud-Turnhout
                                        </td>
                                        <td>
                                            $36,738
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            2
                                        </td>
                                        <td>
                                            Minerva Hooper
                                        </td>
                                        <td>
                                            Curaçao
                                        </td>
                                        <td>
                                            Sinaai-Waas
                                        </td>
                                        <td>
                                            $23,789
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            3
                                        </td>
                                        <td>
                                            Sage Rodriguez
                                        </td>
                                        <td>
                                            Netherlands
                                        </td>
                                        <td>
                                            Baileux
                                        </td>
                                        <td>
                                            $56,142
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            4
                                        </td>
                                        <td>
                                            Philip Chaney
                                        </td>
                                        <td>
                                            Korea, South
                                        </td>
                                        <td>
                                            Overland Park
                                        </td>
                                        <td>
                                            $38,735
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            5
                                        </td>
                                        <td>
                                            Doris Greene
                                        </td>
                                        <td>
                                            Malawi
                                        </td>
                                        <td>
                                            Feldkirchen in Kärnten
                                        </td>
                                        <td>
                                            $63,542
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            6
                                        </td>
                                        <td>
                                            Mason Porter
                                        </td>
                                        <td>
                                            Chile
                                        </td>
                                        <td>
                                            Gloucester
                                        </td>
                                        <td>
                                            $78,615
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>