<div class="main-content">
	<div *ngFor="let alert of adminService.alerts">
		<alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{
			alert.msg
		}}</alert>
	</div>
	<div class="container-fluid">
        
		<div  class="print-card mb-4">
            <button class="float-end btn text-white " (click)="printPage('printableArea')">print</button>
            <div id="printableArea" class="print-receipt-card">
                <h1 class="text-center brand-heading" style="text-align: center; margin-bottom: 5px;">Ballast Coaching Classes</h1>
                <h4 style="font-size: 24px;
                margin-left: 50%;
                margin-bottom: 30px;
                margin-top: 10px;               
                width: fit-content;
                font-weight: 500;">Make Foundation...</h4>
                <table width="100%">
                    <tr>
                        <td>
                            <h3 style="margin: 0px;"><b>Conatct:</b> 8962218750</h3>
                        </td>
                        <td style="text-align: end;">
                            <h3 style="margin-bottom: 0px;"><b>Email:</b> ballastcc@gmail.com</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3 style="margin: 0px;"><b>Bill No:</b> {{FeeDetail?.bill_no || ""}}</h3>
                        </td>
                        <td style="text-align: end;">
                            <h3 style="margin-bottom: 0px;"><b>Date:</b> {{FeeDetail?.created_at  | date: "mediumDate"}}</h3>
                        </td>
                    </tr>
                </table>
                <hr style="margin-bottom:2px"/>
                <hr style="margin-top:2px"/>
    
                <table width="100%">
                    <tr>
                        <td>
                            <h4 class="font-weight-bold" style="margin: 0px;">Registration no. :</h4>
                        </td>
                        <td>
                            <h5 style="margin: 0px;">{{FeeDetail?.reg_number}}</h5>
                        </td>
                        <td>
                            <h4 class="font-weight-bold" style="margin: 0px;">Payment Date. :</h4>
                        </td>
                        <td>
                            <h5 style="margin: 0px;">{{FeeDetail?.paid_date  | date: "mediumDate"}}</h5>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h4 class="font-weight-bold" style="margin: 0px;">Student Name. :</h4>
                        </td>
                        <td>
                            <h5 style="margin: 0px;">{{FeeDetail?.first_name}} {{FeeDetail?.last_name || ""}}</h5>
                        </td>
                        <td>
                            <h4 class="font-weight-bold" style="margin: 0px;">Father Name. :</h4>
                        </td>
                        <td>
                            <h5 style="margin: 0px;">{{FeeDetail?.father_name}}</h5>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h4 class="font-weight-bold" style="margin: 0px;">Class :</h4>
                        </td>
                        <td>
                            <h5 style="margin: 0px;">{{FeeDetail?.class}}</h5>
                        </td>
                        <td>
                            <h4 class="font-weight-bold" style="margin: 0px;">Batch :</h4>
                        </td>
                        <td>
                            <h5 style="margin: 0px;">{{FeeDetail?.batch}}</h5>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h4 class="font-weight-bold" style="margin: 0px;">Medium :</h4>
                        </td>
                        <td>
                            <h5 style="margin: 0px;">{{FeeDetail?.medium}}</h5>
                        </td>
                        <td>
                            <h4 class="font-weight-bold" style="margin: 0px;">Pay Mode :</h4>
                        </td>
                        <td>
                            <h5 style="margin: 0px;">{{FeeDetail?.type}}</h5>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h4 class="font-weight-bold" style="margin: 0px;">Amount Pay :</h4>
                        </td>
                        <td>
                            <h5 style="margin: 0px;">{{FeeDetail?.amount}}</h5>
                        </td>
                        <td>
                            <h4 class="font-weight-bold" style="margin: 0px;">Remaining Fee :</h4>
                        </td>
                        <td>
                            <h5 style="margin: 0px;">{{FeeDetail?.remain_fee}}</h5>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3"></td>
                        <td>
                            <h5 class="text-center my-5 font-weight-bold" style="text-align: center;">Signature <br/>
                                (Jagmohan Yadav)
                                </h5>
                        </td>
                    </tr>
                </table>
               <hr style="margin-bottom:2px"/>
               <hr style="margin-top:2px"/>
                <h4 style="text-align: center;" class="text-center font-weight-bold text-capitalize">
                    Address: jairaj nagar near shiv shakti acadmy, <br />
                    nandbag main road indore (M.P.)
                </h4>
                
            </div>
		</div>

       
	</div>
</div>
