
.block-footer {
	padding:20px 0 0;
	border-top:1px solid #ddd;
	margin-top: 20px;
}

.campaign-thumb .campaign-bg {
    position: absolute;
    height: 100%;
    width: 100%;
    background-position: top center;
    background-size: cover;
}
