<div class="main-content">
    <div *ngFor="let alert of userService.alerts">
        <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-sm-3">
                                <a class="btn-text-icon back-page-btn btn-default" [routerLink]="['/user/campaigns/']"><i class="icons-arrow-up"></i>Back to Campaign Listing</a>
                            </div>
                            <div class="col-sm-9 text-right">
                                <a class="mr-2 btn btn-default" [routerLink]="['/user/campaigns/', detail.campaign_guid, 'edit']">Edit Campaign</a>
                                <a class="btn btn-primary" [routerLink]="['/user/campaigns/create']"><i class="icons-plus"></i>Add Campaign</a>
                                <button *ngIf="detail.status === 'ACTIVE'" class="btn btn-primary mr-2" (click)="updateCampaignStatus('INACTIVE');">Unpublish</button>
                                <button *ngIf="detail.status === 'INACTIVE'" class="btn btn-primary mr-2" (click)="updateCampaignStatus('ACTIVE');">Publish</button>
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-sm-5">
                                <div class="title-url-block">
                                    <h3>{{detail.campaign_name | titlecase }}</h3>
                                    <span *ngIf="detail.page_url && detail.is_landing_page" class="url-text">Landing page URL: <a target="'_blank'" href="{{detail.page_url}}">{{detail.page_url}}</a></span>
                                </div>
                                <span *ngIf="detail.page_url && detail.is_landing_page" class="url-text"><!-- <a target="_blank" href="{{detail.page_url}}?preview=true" class="btn btn-outline mt-3 btn-icon-center">Preview <i class="icons-remove_red_eye"></i></a> -->
                                <a target="_blank" href="{{detail.page_url}}?preview=true" class="preview-link mt-3 btn-icon-center">Preview <i class="icons-remove_red_eye"></i></a>
                                </span>
                                <ul class="detail-block">
                                    <li>
                                        <span>Date Added On:</span>
                                        <p>{{ detail.created_at | date: 'mediumDate' }}</p>
                                    </li>
                                    <li>
                                        <span>Campaign Goals:</span>
                                        <p>{{ detail.campaign_goal }}</p>
                                    </li>
                                </ul>
                                <div class="call-tracking-block" *ngIf="detail.is_call_tracking_number">
                                    <span>Call Tracking Number for This Campaign</span>
                                    <div *ngIf="detail.tracking_number_json">
                                        <p>{{userService.getCommaSepratedArrayString(detail.tracking_number_json.tracking_numbers)}}</p>
                                    </div>
                                    <div *ngIf="!detail.tracking_number_json">
                                            <p>Not Added Yet</p>
                                            <a class="inline-btn"><i class="icons-plus"></i>Add One Free</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-7 row view-report-stats pr-sm-0" *ngIf="isSubmitting">
                                <!-- <div class="row"> -->
                                    <div class="col-sm-4" *ngIf="detail.is_landing_page && report_detail?.landing_page?.total_pageviews != 0">
                                        <div class="card card-stats down text-center mt-0 mb-4">
                                            <div class="card-content">
                                                <div class="cards-heading">
                                                <h3>Total Pageviews</h3>
                                                </div>
                                                <div class="card-content-block">
                                                    <span>{{report_detail?.landing_page?.total_pageviews ? report_detail?.landing_page?.total_pageviews : '0'}}</span>
                                                </div>
                                            </div>
                                            <!-- <div class="card-footer">
                                                <p>previous week <span>0</span></p>
                                            </div> -->
                                        </div>
                                    </div>
                                    <div class="col-sm-4" *ngIf="detail.is_landing_page && report_detail?.landing_page?.unique_visitors != 0">
                                        <div class="card card-stats down text-center mt-0 mb-4">
                                            <div class="card-content">
                                                <div class="cards-heading">
                                                <h3>Unique Visitors</h3>
                                                </div>
                                                <div class="card-content-block">
                                                    <span>{{report_detail?.landing_page?.unique_visitors ? report_detail?.landing_page?.unique_visitors : '0'}}</span>
                                                </div>
                                            </div>
                                            <!-- <div class="card-footer">
                                                <p>previous week <span>0</span></p>
                                            </div> -->
                                        </div>
                                    </div>
                                    <div class="col-sm-4" *ngIf="detail.is_landing_page && report_detail?.landing_page?.leads != 0">
                                        <div class="card card-stats down text-center mt-0 mb-4">
                                            <div class="card-content">
                                                <div class="cards-heading">
                                                <h3>Leads</h3>
                                                </div>
                                                <div class="card-content-block">
                                                    <span>{{report_detail?.landing_page?.leads ? report_detail?.landing_page?.leads : '0'}}</span>
                                                </div>
                                            </div>
                                            <!-- <div class="card-footer">
                                                <p>previous week <span>0</span></p>
                                            </div> -->
                                        </div>
                                    </div>
                                <!-- </div> -->
                                <!-- <div class="row"> -->
                                <div class="col-sm-4" *ngIf="detail.is_qr_code && report_detail?.qr_code?.total_scans != 0">
                                    <div class="card card-stats down text-center mt-0 mb-4">
                                        <div class="card-content">
                                            <div class="cards-heading">
                                            <h3>Total Scans</h3>
                                            </div>
                                            <div class="card-content-block">
                                                <span>{{report_detail?.qr_code?.total_scans ? report_detail?.qr_code?.total_scans : '0'}}</span>
                                            </div>
                                        </div>
                                        <!-- <div class="card-footer">
                                            <p>previous week <span>0</span></p>
                                        </div> -->
                                    </div>
                                </div>
                                <div class="col-sm-4" *ngIf="detail.is_qr_code && report_detail?.qr_code?.unique_scans != 0">
                                    <div class="card card-stats down text-center mt-0 mb-4">
                                        <div class="card-content">
                                            <div class="cards-heading">
                                            <h3>Unique Scans</h3>
                                            </div>
                                            <div class="card-content-block">
                                                <span>{{report_detail?.qr_code?.unique_scans ? report_detail?.qr_code?.unique_scans : '0'}}</span>
                                            </div>
                                        </div>
                                        <!-- <div class="card-footer">
                                            <p>previous week <span>0</span></p>
                                        </div> -->
                                    </div>
                                </div>
                                <div class="col-sm-4" *ngIf="detail.is_qr_code && report_detail?.qr_code?.leads != 0">
                                    <div class="card card-stats down text-center mt-0 mb-4">
                                        <div class="card-content">
                                            <div class="cards-heading">
                                            <h3>Leads</h3>
                                            </div>
                                            <div class="card-content-block">
                                                <span>{{report_detail?.qr_code?.leads ? report_detail?.qr_code?.leads : '0'}}</span>
                                            </div>
                                        </div>
                                        <!-- <div class="card-footer">
                                            <p>previous week <span>0</span></p>
                                        </div> -->
                                    </div>
                                </div>
                                <!-- </div> -->
                                <!-- <div class="row"> -->
                                <div class="col-sm-4" *ngIf="detail.is_call_tracking_number && report_detail?.call_tracking?.total_calls != 0">
                                    <div class="card card-stats down text-center mt-0 mb-4">
                                        <div class="card-content">
                                            <div class="cards-heading">
                                            <h3>Total Calls</h3>
                                            </div>
                                            <div class="card-content-block">
                                                <span>{{report_detail?.call_tracking?.total_calls ? report_detail?.call_tracking?.total_calls : '0'}}</span>
                                            </div>
                                        </div>
                                        <!-- <div class="card-footer">
                                            <p>previous week <span>0</span></p>
                                        </div> -->
                                    </div>
                                </div>
                                <div class="col-sm-4" *ngIf="detail.is_call_tracking_number && report_detail?.call_tracking?.total_durations != '0m0s'"> 
                                    <div class="card card-stats down text-center mt-0 mb-4">
                                        <div class="card-content">
                                            <div class="cards-heading">
                                            <h3>Total Duration</h3>
                                            </div>
                                            <div class="card-content-block">
                                                <span>{{report_detail?.call_tracking?.total_durations ? report_detail?.call_tracking?.duration : '0m0s'}}</span>
                                            </div>
                                        </div>
                                        <!-- <div class="card-footer">
                                            <p>previous week <span>0</span></p>
                                        </div> -->
                                    </div>
                                </div>
                                <div class="col-sm-4" *ngIf="detail.is_call_tracking_number && report_detail?.call_tracking?.average_duration != '0m0s'">
                                    <div class="card card-stats down text-center mt-0 mb-4">
                                        <div class="card-content">
                                            <div class="cards-heading">
                                            <h3>Average Duration</h3>
                                            </div>
                                            <div class="card-content-block">
                                                <span>{{report_detail?.call_tracking?.average_duration ? report_detail?.call_tracking?.average_duration : '0m0s'}}</span>
                                            </div>
                                        </div>
                                        <!-- <div class="card-footer">
                                            <p>previous week <span>0</span></p>
                                        </div> -->
                                    </div>
                                </div>
                                <!-- </div> -->
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-sm-5" *ngIf="detail.is_landing_page && detail.preview_url">
                                <a target="'_blank'" href="{{detail.page_url}}">
                                    <div class="campaign-thumb" [ngStyle]="{'background-image': !detail?.preview_url ? 'url(\'assets/img/cover.jpeg\')' : 'url(' + detail?.preview_url + ')'}"
                                ></div>
                                </a>
                            </div>
                            <div class="col-sm-7" *ngIf="detail.is_qr_code && detail.qr_code_image_url">
                                <div class="qr-code-block">
                                    <div class="qr-img">
                                            <img [src]="!detail?.qr_code_image_url ? 'assets/img/dummu_barcode.png' : detail?.qr_code_image_url" />
                                    </div>
                                    <div class="qr-action-link">
                                        <a target="'_blank'" href="{{detail.downlod_qr_code}}&type=png">Download PNG</a>
                                        <a target="_blank" href="{{detail.downlod_qr_code}}&type=pdf">Download PDF</a>
                                        <a target="_blank" href="{{detail.downlod_qr_code}}&type=jpeg">Download JPEG</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>