.title-url-block .url-text {
    color:#0d9bee;
    font-weight:500;
}

.detail-block {
    padding:0;
    list-style: none;
    margin: 30px 0;
}

.detail-block li {
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    margin-bottom: 20px;
    display: flex;
}

.detail-block li p {
    margin-bottom:0;
}

.detail-block li span {
    min-width: 160px;
    font-weight:500;
}

.call-tracking-block span {
    font-weight:500;
    display:block;
    margin-bottom: 20px;
}

.call-tracking-block p {
    display: inline-block;
    margin-right: 15px;
}

.call-tracking-block a i {
    margin-right:5px;
}

.call-tracking-block a {
    color:#0d9bee;
    font-weight:500;
}

.campaign-thumb {
    min-height: 450px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.qr-img {
    max-width:300px;
}
.qr-img img {
    width:100%;
}

.qr-code-block {
    display: flex;
    align-items: center;
}
.qr-action-link a {
    display:block;
    margin:20px 0;
    font-size: 14px;
    font-weight:500;
    background: #0d9bee;
    padding: 15px;
    border-radius: 5px;
    color: #fff;
    letter-spacing: 1px;
}


.view-report-stats .card .cards-heading {
    text-align:center;
    display: block;
    background-color: #4277ff;
    color: #fff;
}
.view-report-stats .card .cards-heading h3 {
    font-size:14px;
}

.view-report-stats .card .card-content-block {
    padding: 12px 0;
    font-weight:600;
}

.view-report-stats .card .card-footer {
    padding: 10px 0;
    margin:0;
}

.view-report-stats .card .card-footer p {
    margin:0;
    font-size:14px;
    font-family: "Circular-Std", serif;
}