<div *ngFor="let alert of alerts">
    <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
</div>
<div id="modal_id" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
<div class="modal-header">
    <h4 class="modal-title pull-left">Update Content</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal('CLOSE')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <!-- <form> -->
        <form name="form" (ngSubmit)="submitNgForm.form.valid && submitForm()" #submitNgForm="ngForm">
        <div class="form-content row">
            <div class="col-md-12">
                <div class="form-field" *ngIf="field.type == 'text'">
                    <label class="text-left">Title</label>
                    <!-- <input [(ngModel)]="field_value" class="input-field" type="text" /> -->
                    <input type="text" [(ngModel)]="field_value" name="field_title" #field_title="ngModel" required />
                    <div *ngIf="submitNgForm.submitted && field_title.invalid">
                        <div *ngIf="field_title.errors.required">Field is required</div>
                    </div>
                </div>
                <div class="form-field" *ngIf="field.type == 'phone'">
                    <label class="text-left">Phone</label>
                    <!-- <input [(ngModel)]="field_value" class="input-field" type="text" /> -->
                    <input type="tel" maxlength="10" pattern="[1-9]{1}[0-9]{9}" [(ngModel)]="field_value" name="field_phone" #field_phone="ngModel" required />
                    <div *ngIf="submitNgForm.submitted && field_phone.invalid">
                        <div *ngIf="field_phone.errors.required">Field is required</div>
                        <div *ngIf="!field_phone.errors.required && field_phone.invalid">Please Enter Valid Number</div>
                    </div>
                    <!-- <input name="field_phone" [ngModel]="field_value" [pattern]="mobNumberPattern" #field_phone="ngModel">  
                    <div *ngIf="field_phone.errors && submitNgForm.submitted">  
                    <div *ngIf="field_phone.errors.pattern">  
                        Mobile number not valid.  
                    </div> -->
                </div>
                <div class="form-field" *ngIf="field.type == 'text_area'">
                    <label class="text-left">Text</label>
                    <textarea [(ngModel)]="field_value" name="field_text_area" #field_text_area="ngModel" required></textarea>
                    <div *ngIf="submitNgForm.submitted && field_text_area.invalid">
                        <div *ngIf="field_text_area.errors.required">Field is required</div>
                    </div>
                </div>
                <div class="form-field" *ngIf="field.type == 'text_editor'">
                    <label class="text-left">Text</label>
                    <quill-editor [modules]="quillConfig"[(ngModel)]="field_value" name="field_text_editor" [minLength]="1" [required]="true"></quill-editor>
                    <!-- <div *ngIf="submitNgForm.submitted && field_text_editor.invalid"> -->
                        <!-- <div *ngIf="field_text_editor.errors.required">Field is required</div> -->
                    <!-- </div> -->
                </div>
                <div class="form-field" *ngIf="field.type == 'link'">
                    <label class="text-left">Text</label>
                    <!-- <input [(ngModel)]="field_value" class="input-field" type="text" /> -->
                    <input type="text" [(ngModel)]="field_value" name="field_text" #field_text="ngModel" required />
                    <div *ngIf="submitNgForm.submitted && field_text.invalid">
                        <div *ngIf="field_text.errors.required">Field is required</div>
                    </div>
                </div>
                <div class="form-field" *ngIf="field.type == 'link'">
                    <label class="text-left">Link</label>
                    <!-- <input [(ngModel)]="field.link" class="input-field" type="text" /> -->
                    <input type="text" [(ngModel)]="field_a_link" name="field_link" #field_link="ngModel" required />
                    <div *ngIf="submitNgForm.submitted && field_link.invalid">
                        <div *ngIf="field_link.errors.required">Field is required</div>
                    </div>
                </div>
                <div class="form-field" *ngIf="field.type == 'link'">
                    <label class="text-left">Target</label>
                    <!-- <input [(ngModel)]="field.target" class="input-field" type="text" /> -->
                    <select name="field_target" [(ngModel)]="field_a_target" #field_target="ngModel" required>
                        <option value="SELF">Self</option>
                        <option value="_blank">New Tab</option>
                    </select>
                    <div *ngIf="submitNgForm.submitted && field_target.invalid">
                        <div *ngIf="field_target.errors.required">Field is required</div>
                    </div>
                    <!-- <input type="text" [(ngModel)]="field.target" name="field_target" #field_target="ngModel" required /> -->
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="text-center">
                <button class="btn btn-primary mr-3">Update</button>
                <button type="button" (click)="hideModal('cancel')" class="btn btn-default">Cancel</button>
            </div>
        </div>
    </form>
</div>
</div>










