<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <div class="row mb-4">
                    <div class="col-md-12">
                        <a [routerLink]="['/console/broadcast/add']" class="btn btn-primary pull-right"><i class="icons-plus"></i> New Broadcast</a>
                    </div>
                </div>
                <div class="table-responsive">
                    <ngx-datatable #table class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [scrollbarV]="false" [externalPaging]="true" [count]="counts" [offset]="page_no" [limit]="parameters?.pagination?.limit" (page)='setPage($event)' (sort)="onSort($event)">
                        <ngx-datatable-column name="Broadcast Title" [sortable]="true">
                            <ng-template let-rowIndex="rowIndex" let-row="row" let-value="value" ngx-datatable-cell-template>
                                <strong *ngIf="row.broadcast_sent_type == 'SCHEDULED'">{{row.title | titlecase}}</strong>
                                <span *ngIf="row.broadcast_sent_type != 'SCHEDULED'">{{row.title | titlecase}}</span>
                                
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Date Sent On" [sortable]="false">
                            <ng-template let-rowIndex="rowIndex" let-row="row" let-value="value" ngx-datatable-cell-template>
                                {{row.scheduled_at == '' ? '--' : row.scheduled_at | date: 'mediumDate'}}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Status" [sortable]="false">
                            <ng-template let-rowIndex="rowIndex" let-row="row" let-value="value" ngx-datatable-cell-template>
                                {{ row.status == 'UNSENT' ? 'Pending' : row.status | titlecase }}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="People Who Opened" [sortable]="false">
                            <ng-template let-rowIndex="rowIndex" let-row="row" let-value="value" ngx-datatable-cell-template>
                                {{ row.broadcast_seen_count }}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Actions" [sortable]="false">
                            <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                                <div class="td-action">
                                        <a *ngIf="row.status == 'UNSENT'" matTooltip="Edit" [matTooltipPosition]="'below'" [routerLink]="['/console/broadcast/edit', row.broadcast_id]"><i class="icons-create"></i></a>
                                        <a *ngIf="row.status == 'SENT'" matTooltip="View" [matTooltipPosition]="'below'" [routerLink]="['/console/broadcast/edit', row.broadcast_id]"><i class="icons-remove_red_eye"></i></a>
                                </div>
                            </ng-template>
                        </ngx-datatable-column>
                    </ngx-datatable>
                </div>
            </div>
        </div>
    </div>
</div>