<div *ngFor="let alert of userService.alerts">
    <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
</div>
<div class="main-content">
    <div class="container-fluid">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <button class="btn-text-icon back-page-btn" (click)="goToBack()"><i class="icons-arrow-up"></i>Back</button>
                            </div>
                        </div>
                      <div class="search-header-block row mb-3">
                          <div class="col-md-5">
                              <div class="form-group">
                                  <input type="text" class="regular-form" id="search" placeholder="Search by Name, Email" [(ngModel)]="parameters.keyword" (keyup)="search($event)">
                              </div>
                          </div>
                          <div class="col-md-7">
                            <button (click)="openInviteUsersModal()" class="btn btn-primary pull-right"><i class="icons-person"></i> Add Member</button>
                          </div>
                      </div>
                        <div class="table-responsive">
                            <ngx-datatable #table class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                              [rowHeight]="50" [scrollbarV]="false" [externalPaging]="true" [count]="counts" [offset]="page_no" [limit]="parameters?.pagination?.limit" (page)='setPage($event)'(sort)="onSort($event)">
                              <ngx-datatable-column name="Name">
                                <ng-template let-rowIndex="rowIndex" let-row="row" let-value="value" ngx-datatable-cell-template>
                                    {{row.name ? (row.name | titlecase) : '--'}}
                                </ng-template>
                              </ngx-datatable-column>
                              <ngx-datatable-column name="Email" [sortable]="false">
                                <ng-template let-rowIndex="rowIndex" let-row="row" let-value="value" ngx-datatable-cell-template>
                                  <a href="mailto:{{row.email}}">{{row.email}}</a>
                                </ng-template>
                              </ngx-datatable-column>
                              <ngx-datatable-column name="Status">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                  {{row.status ? (row.status | titlecase) : 'Pending'}}
                                </ng-template>
                              </ngx-datatable-column>
                              <ngx-datatable-column name="Date of signup" [sortable]="false">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                  {{row.created_at ? (row.created_at | date: 'mediumDate') : '--'}}
                                </ng-template>
                              </ngx-datatable-column>
                            
                              <ngx-datatable-column name="Actions" [sortable]="false">
                                  <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                                      <div class="td-action">
                                          <a *ngIf="row.status=='ACTIVE'"  matTooltip="Deactivate" [matTooltipPosition]="'below'" (click)="chageStatus(row.user_id,'BLOCKED', rowIndex)">
                                              <i class="icons-check_circle"></i>
                                          </a>
                                          <a *ngIf="row.status=='BLOCKED'"  matTooltip="Activate" [matTooltipPosition]="'below'" (click)="chageStatus(row.user_id,'ACTIVE', rowIndex)">
                                              <i class="icons-highlight_remove"></i>
                                          </a>
                                          <a *ngIf="row.status==''"  matTooltip="Send Email Again" [matTooltipPosition]="'below'" (click)="sendEmailAgainTomember(row, send_again)">
                                            <i class="icons-envelope-1"></i>
                                          </a>
                                      </div>
                                  </ng-template>
                              </ngx-datatable-column>
                            </ngx-datatable>
                        </div>
                    </div>
                </div>
            </div>
</div>
<ng-template #send_again>
<div class="modal-header">
    <h4 class="modal-title pull-left">Send Email Again</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="submitMemberForm" (ngSubmit)="submitForm()">
        <div class="form-content row">
            <div class="col-md-12">
                <div class="form-field">
                    <label class="text-left">Email of User<span class="required">*</span></label>
                    <input formControlName="email" email-validate class="form-label" type="text" />
                    <errors class="error-msz" [control]="submitMemberForm.controls.email"></errors>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="text-center">
                <button class="btn btn-primary text-white" [disabled]="!submitMemberForm.valid || isSubmitting" [ngClass]="{'btn-loading': isSubmitting}"> <div class="loader"></div>Send</button>
            </div>
        </div>
    </form>
</div>    
</ng-template>