<div *ngFor="let alert of alerts">
    <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
</div>
<div class="modal-header">
    <h3 class="modal-title mt-0">Bulk Import</h3>
    <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="modalForm" (ngSubmit)="submitForm()">
        <div class="form-content row">
            <div class="col-md-12">
                <div class="form-field">
                    <label class="text-left">User</label>
                    <select formControlName="user_id">
                        <option value="">Select User</option>
                        <option *ngFor="let user of user_list" [ngValue]="user.user_guid">
                            {{ user.name }}
                        </option>
                    </select>
                    <errors class="error-msz" [control]="modalForm.controls.user_id"></errors>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-field">
                    <label class="text-left">Name <span class="required">*</span></label>
                    <!-- <input id="title_text" style="display: none"  [ngModelOptions]="{standalone: true}" [(ngModel)]="contact_file" type="file" name="excel_file" (change)="onFileChanged($event)" #file> -->
                    <input id="title_text" formControlName="contact_file" type="file" name="excel_file" (change)="onFileChanged($event)" #file>
                    <errors class="error-msz" [control]="modalForm.controls.crm_contact_name"></errors>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <button type="button" (click)="hideModal()" class="btn btn-default">Cancel</button>
            <!-- <div class="text-center">
                <button class="btn btn-primary text-white" [disabled]="!modalForm.valid || isSubmitting" [ngClass]="{'btn-loading': isSubmitting}"> <div class="loader"></div>Submit</button>
            </div> -->
        </div>
    </form>
</div>











