<div class="banner">
    <div class="select-button" *ngIf="!cropping.isLoaded || cropping.isCropped">
        <input #_fileInput type="file" (change)="cropping.selectInputEvent($event)" accept="image/*" hidden>
        <button class="solid-btn solid-btn--orange btn-small" (click)="_fileInput.click()">Select Image</button>
    </div>

    <ly-cropping [class.showCustomCroper]="cropping.isCropped" #cropping [withClass]="classes.cropping" [config]="myConfig" [(scale)]="scale" (cropped)="onCrop($event)">
    </ly-cropping>
    <div class="button-section" *ngIf="cropping.isLoaded && !cropping.isCropped">
        <div class="row">
            <div class="col-sm-4">
                <div *ngIf="cropping.isLoaded" [className]="classes.range">
                    <input type="range" [className]="classes.rangeInput" [attr.min]="cropping.minScale" max="1" [(ngModel)]="scale" step="any">
                </div>
            </div>
            <div class="col-sm-8 text-right">
                <button class="btn-md btn modal-btn-primary" (click)="cropping.crop(); hidePopup($event);">Apply</button>
                <button class="btn-sm btn modal-btn-sec" (click)="cropping.clean()">Cancel</button>
            </div>
        </div>
    </div>
</div>