.nav-link {
    cursor: pointer;
}

.tag-pill {
    cursor: pointer;
}

.button-section {
    /*position: absolute;
    bottom: 10px;
    right: 10px;
    left: 10px;*/
    position: relative;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 0;
}

.select-button .solid-btn--orange {
    background: #0a73b0;
    border-radius: 10px;
    color: #fff;
    padding: 15px 20px;
    font-size: 20px;
    border: none;
}

.image-cropper-container.solid-btn--orange {
    background: #0a73b0;
    border-radius: 10px;
    color: #fff;
    padding: 15px 20px;
    font-size: 20px;
    border: none;
}

.select-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/*.select-button .solid-btn--orange {
    border-radius: 0;
    width: 220px;
    height: 76px;
    cursor: pointer;
}
*/
/*.button-section .solid-btn:first-child {
    margin-left: 10px;
}
*/
.button-section button+button {
    margin-left: 10px;
}

.showCustomCroper {
    display: none;
}

.showCropedImage {
    display: none;
}

.dropdown-style2 li button {
    padding: 8px 20px;
    display: block;
    width: 100%;
    text-align: left;
}

.dropdown-style2 li button:hover {
    color: #FF6C37;
}

.button-section .y-range-id {
    padding: 11px 0;
}

.button-section .row {
    margin: 0;
}


/* .y-cropping-i2{
	position: relative;
	z-index: -1;
} */

.y-cropping-ib input {
    cursor: pointer;
}



/*custom style start*/

.image-cropper-container.solid-btn--orange {
    background: #0a73b0;
    border-radius: 10px;
    color: #fff;
    padding: 15px 20px;
    font-size: 20px;
    border: none;
}


.image-cropper-container .close {
    position:absolute;
    right:0;
    top:0;
}

.image-cropper-container ly-cropping {
    max-width:100%;
}


.image-cropper-container .btn.modal-btn-primary {
    color: #fff;
    font-size: 14px;
}

.image-cropper-container .btn.modal-btn-sec {
    color: #666;
    background: transparent;
    font-size: 14px;
}

/*custom style end*/
