<div class="main-content">
    <div *ngFor="let alert of userService.alerts">
        <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="search-header-block row mb-4">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <!-- <label for="search">Search</label> -->
                                    <input type="text" class="regular-form" id="search" placeholder="Search by Name, Email" [(ngModel)]="parameters.keyword" (keyup)="search($event)">
                                </div>
                            </div>

                                    <!-- <div class="row">
                                    <div class="col-md-6"></div>
                                    <div class="col-md-6 d-inline">
                                        <div class="forgot-password text-right mb-3">
                                            <a (click)="downloadSampleFile()">Download Sample File</a>
                                        </div>
                                        <button (click)="exportCRMContactFile()" class="btn btn-primary btn-sm pull-right btn-default">Export Contacts</button>
                                        <input id="title_text" style="display: none" [(ngModel)]="contact_file" type="file" name="excel_file" (change)="onFileChanged($event)" #file>
                                        <button class="btn btn-primary btn-sm pull-right btn-default" type="button" [disabled]="isFileSubmitting" (click)="file.click()"><i class="icons-files"></i>Bulk import</button>
                                        <button (click)="openModal()" class="btn btn-primary btn-sm pull-right btn-default"> <i class="icons-plus"></i>Add Contact</button>
                                    </div>
                                    </div> -->

                            <div class="col-sm-9 text-right">
                                <button (click)="exportCRMContactFile()" class="btn-text mr-sm-3"><i class="icons-move_to_inbox"></i> Export Contacts</button>
                                <input id="title_text" style="display: none" [(ngModel)]="contact_file" type="file" name="excel_file" (change)="onFileChanged($event)" #file>
                                <button class="btn-text mr-sm-3" (click)="downloadSampleFile()"><i class="icons-save_alt"></i> Download Sample File</button>
                                <button (click)="file.click()" type="button" [disabled]="isFileSubmitting" class="btn btn-primary btn-default mr-sm-3">Bulk import</button>
                                <button class="btn btn-primary" (click)="openModal()"><i class="icons-plus"></i>Add Contact</button>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="table-responsive">
                                <ngx-datatable #table class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [scrollbarV]="false" [externalPaging]="true" [count]="counts" [offset]="page_no" [limit]="parameters?.pagination?.limit" (page)='setPage($event)' (sort)="onSort($event)">
                                    <ngx-datatable-column name="Name">
                                        <ng-template let-rowIndex="rowIndex" let-row="row" let-value="value" ngx-datatable-cell-template>
                                            <a matTooltip="Contact Info" [routerLink]="['/user/note/add/', row.crm_contact_id]" [matTooltipPosition]="'below'">{{row.crm_contact_name | titlecase}}</a>
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Email" [sortable]="false">
                                        <ng-template let-rowIndex="rowIndex" let-row="row" let-value="value" ngx-datatable-cell-template>
                                            <a href="mailto:{{row.crm_contact_email}}">{{row.crm_contact_email}}</a>
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Phone" [sortable]="false">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            {{row.crm_contact_phone ? formatPhoneNumber(row.crm_contact_phone) : '--'}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Source" [sortable]="false">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            {{ row.source_type == 'BULK' ? 'Bulk Import' : row.source_type | titlecase}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Date Added" [sortable]="false">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            {{row.created_at | date: 'mediumDate'}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Actions" [sortable]="false">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            <div class="td-action">
                                                <!-- <a matTooltip="Info" (click)="openDetailsModal(contactDetails, row)" [matTooltipPosition]="'below'"><i class="icons-user"></i></a> -->
                                                <a matTooltip="Edit" (click)="openEditModal(row.crm_contact_id)" [matTooltipPosition]="'below'"><i class="icons-create"></i></a><a matTooltip="Contact Info" [routerLink]="['/user/note/add/', row.crm_contact_id]" [matTooltipPosition]="'below'"><i class="icons-remove_red_eye"></i></a>
                                            </div>
                                        </ng-template>
                                    </ngx-datatable-column>
                                </ngx-datatable>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #contactDetails>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Contact Details</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="download-popup-bg">
            <table class="table-list text-left">
                <tr>
                    <td><b>Name</b></td>
                    <td>{{ contact_detail.crm_contact_name }}</td>
                </tr>
                <tr>
                    <td><b>Email</b></td>
                    <td>{{ contact_detail.crm_contact_email }}</td>
                </tr>
                <tr>
                    <td><b>Phone</b></td>
                    <td><span class="green-color">${{ contact_detail.crm_contact_phone }}</span></td>
                </tr>
                <tr>
                    <td><b>Street</b></td>
                    <td>{{ contact_detail.crm_contact_street ? contact_detail.crm_contact_street: '--' }}</td>
                </tr>
                <tr>
                    <td><b>City</b></td>
                    <td>{{ contact_detail.crm_contact_city? contact_detail.crm_contact_city: '--' }}</td>
                </tr>
                <tr>
                    <td><b>State</b></td>
                    <td>{{ contact_detail.crm_contact_state? contact_detail.crm_contact_state: '--' }}</td>
                </tr>
                <tr>
                    <td><b>Zipcode</b></td>
                    <td>{{ contact_detail.crm_contact_zipcode? contact_detail.crm_contact_zipcode: '--' }}</td>
                </tr>
                <tr>
                    <td><b>Note</b></td>
                    <td>{{ contact_detail.note? contact_detail.note: '--' }}</td>
                </tr>
                <tr>
                    <td><b>Added On</b></td>
                    <td>{{ contact_detail.created_at | date: 'mediumDate' }}</td>
                </tr>
                <tr>
                    <td><b>Edited On</b></td>
                    <td>{{ contact_detail.updated_at | date: 'mediumDate' }}</td>
                </tr>
            </table>
        </div>
    </div>
</ng-template>