// Body
//
// Settings for the `<body>` element.

$body-bg: #ffffff !default;



// Typography start
$text-font-xsm: 14px !default;
$text-font-sm: 16px !default;
$text-font-md: 18px !default;
$text-font-lg: 20px !default;


$heading-md: 24px !default;

// Typography end

