<div class="main-content fitness-template">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <!-- <h4>Template Details</h4> -->
                                <div class="template-view-edit col-md-12">
                                    <div class="landing-template">
                                        <div class="header-banner">
                                            <div class="image-holder-block">
                                                <img src="assets/img/cover.jpeg" />
                                            </div>
                                            <div class="top-content-bar">
                                                <h2 class="page-title">Fitness/Gym</h2>
                                                <a href="" class="call-number"><span><img src="assets/img/landing-page/call.svg"></span>
                                                    <div class="landing-edit-block"><button class="edit-element-btn"><i class="icons-edit"></i></button>123-456-7890</div>
                                                </a>
                                            </div>
                                            <div class="landing-banner-content">
                                                <div class="banner-text-block text-center">
                                                    <div class="landing-edit-block">
                                                        <button class="edit-element-btn"><i class="icons-edit"></i></button>
                                                        <h2>Lorem ipsum Sue da</h2>
                                                    </div>
                                                    <div class="landing-edit-block">
                                                        <button class="edit-element-btn"><i class="icons-edit"></i></button>
                                                        <p>The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog. Junk MTV quiz graced by fox whelps. Bawds jog, flick quartz,</p>
                                                    </div>
                                                    <div class="landing-edit-block">
                                                        <button class="edit-element-btn"><i class="icons-edit"></i></button>
                                                        <a href="#" class="btn btn-primary landing-btn">CTA Link</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="about-us-section l-padding-lg">
                                            <div class="about-us-content">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <div class="text-block about-content pr-md-5">
                                                                <div class="landing-edit-block">
                                                                    <button class="edit-element-btn"><i class="icons-edit"></i></button>
                                                                    <div class="landing-title-block">
                                                                        <h2>Why choose us</h2>
                                                                    </div>
                                                                </div>
                                                                <div class="landing-edit-block">
                                                                    <button class="edit-element-btn"><i class="icons-edit"></i></button>
                                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate nulla pariatur.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate nulla pariatur.</p>
                                                                    <ul>
                                                                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                                                                        <li>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
                                                                        <li>Ut enim ad minim veniam quis nostrud exercitation ullamco.</li>
                                                                        <li>laboris nisi ut aliquip ex ea commodo consequat.</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="about-us-image-holder">
                                                                <div class="about-us-image v-image-block">
                                                                    <div class="image-landing-container">
                                                                        <div class="image-holder-block">
                                                                            <img _ngcontent-yad-c178="" src="https://www.tikisites.com/webhost-api/uploads/843c49fd-25b5-f14a-27ae-1336c84d4edd.png">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-section-block l-padding-md">
                                            <div class="container">
                                                <div class="form-container text-center">
                                                    <div class="landing-title-block">
                                                        <div class="landing-edit-block">
                                                            <button class="edit-element-btn"><i class="icons-edit"></i></button>
                                                            <h2>Say <span>Hello</span></h2>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="field-block">
                                                                    <input type="text" class="landing-input" placeholder="Name">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="field-block">
                                                                    <input type="email" class="landing-input" placeholder="Email">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="field-block">
                                                                    <input type="tel" class="landing-input" placeholder="Phone">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <div class="field-block">
                                                                    <input type="text" class="landing-input" placeholder="Message">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <div class="submit-btn-block mt-4">
                                                                    <button class="landing--submit-btn">Send</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="products-block-section l-padding-md bg-light">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="landing-title-block text-center mb-5">
                                                            <div class="landing-edit-block">
                                                                <button class="edit-element-btn"><i class="icons-edit"></i></button>
                                                                <h2>our programmes</h2>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <div class="products-block">
                                                           <div class="product-img">
                                                                <div class="image-landing-container">
                                                                    <div class="image-holder-block">
                                                                        <img src="https://www.tikisites.com/webhost-api/uploads/67d75ec1-7ba4-8cf9-312d-d902c31a4d9c.jpg">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="product-title">
                                                                <div class="landing-edit-block">
                                                                    <button class="edit-element-btn">
                                                                        <i _ngcontent-yad-c178="" class="icons-edit"></i>
                                                                    </button>
                                                                    <h3 _ngcontent-yad-c178="">House Name One</h3>
                                                                    <div class="landing-edit-block">
                                                                            <button class="edit-element-btn">
                                                                                <i _ngcontent-yad-c178="" class="icons-edit"></i>
                                                                            </button>
                                                                        <a href="" class="btn btn-primary landing-btn landing-btn-sm">Button</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="products-block">
                                                           <div class="product-img">
                                                                <div class="image-landing-container">
                                                                    <div class="image-holder-block">
                                                                        <img src="https://www.tikisites.com/webhost-api/uploads/67d75ec1-7ba4-8cf9-312d-d902c31a4d9c.jpg">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="product-title">
                                                                <div class="landing-edit-block">
                                                                    <button class="edit-element-btn">
                                                                        <i _ngcontent-yad-c178="" class="icons-edit"></i>
                                                                    </button>
                                                                    <h3 _ngcontent-yad-c178="">House Name One</h3>
                                                                    <div class="landing-edit-block">
                                                                            <button class="edit-element-btn">
                                                                                <i _ngcontent-yad-c178="" class="icons-edit"></i>
                                                                            </button>
                                                                        <a href="" class="btn btn-primary landing-btn landing-btn-sm">Button</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="products-block">
                                                           <div class="product-img">
                                                                <div class="image-landing-container">
                                                                    <div class="image-holder-block">
                                                                        <img src="https://www.tikisites.com/webhost-api/uploads/67d75ec1-7ba4-8cf9-312d-d902c31a4d9c.jpg">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="product-title">
                                                                <div class="landing-edit-block">
                                                                    <button class="edit-element-btn">
                                                                        <i _ngcontent-yad-c178="" class="icons-edit"></i>
                                                                    </button>
                                                                    <h3 _ngcontent-yad-c178="">House Name One</h3>
                                                                    <div class="landing-edit-block">
                                                                            <button class="edit-element-btn">
                                                                                <i _ngcontent-yad-c178="" class="icons-edit"></i>
                                                                            </button>
                                                                        <a href="" class="btn btn-primary landing-btn landing-btn-sm">Button</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12 text-center mt-5">
                                                        <div class="landing-edit-block">
                                                            <button class="edit-element-btn"><i class="icons-edit"></i></button>
                                                            <a href="#" class="btn btn-primary landing-btn landing-btn-blue">CTA Link</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>