<div class="main-content">
    <div class="tab-steps multi-step">
        <div class="row">
            <div class="col-md-12">
                <div class="modal-steps"
                    [ngClass]="{'one':tabs_css === 1, 'two': tabs_css === 2, 'three':tabs_css === 3, '':tabs_css > 3}">
                    <span *ngFor="let campaign_tab of campaignService.campaign_tabs"
                        [ngClass]="{'d-none': !campaign_tab.is_tab}">
                        <div class="step" [ngClass]="campaign_tab.active ? 'current' : 'completed'"
                            *ngIf="campaign_tab.is_tab">
                            <div class="dot"></div>
                            <label class="label">
                                <span *ngIf="campaign_tab.active">{{campaign_tab.tilte}}</span>
                                <a *ngIf="!campaign_tab.active"
                                    [routerLink]="[campaign_tab.url]">{{campaign_tab.tilte}}</a>
                            </label>
                        </div>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-sm-12 text-right">
                        <a [routerLink]="['/user/campaigns/']" class="btn-text mr-sm-3">Cancel</a>
                        <a [routerLink]="['/user/campaigns/', param_id,'setting']" class="btn-text mr-sm-3">Settings</a>
                        <a [routerLink]="['/user/campaigns/',param_id,'templates']"
                            class="btn btn-primary btn-default mr-2">Change Template</a>
                        <button (click)="updateTemplateDetails()" class="btn btn-primary btn-default mr-2"
                            [ngClass]="{'btn-loading': isSubmitting}">
                            <div class="loader"></div>
                            Save & Next
                        </button>
                        <button (click)="previewTemplate(mode == 'edit' ? 'view' : 'edit')"
                            class="btn btn-primary">{{ mode == 'edit' ? 'Preview' : 'Edit'}}</button>
                    </div>
                </div>

                <div class="card" #screen>
                    <div class="card-body">
                        <div class="row">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="head-block">
                                            <div class="container">
                                                <div class="row align-items-center">
                                                    <div class="col-6">
                                                        <!-- <div>
                                                    <a>
                                                        <img src="assets/img/template_simple_logo.png" class="logo">
                                                    </a>
                                                </div> -->
                                                        <div class="image-holder-block">
                                                            <button class="image-update-btn-edit" *ngIf="mode == 'edit'"
                                                                (click)="openFileUploadModal(cropImage,'header-image')"><i
                                                                    class="icons-edit"></i> </button>
                                                            <div class="banner-img">
                                                                <img
                                                                    [src]="!campaignService?.simple_values?.header?.image?.image_url ? 'assets/img/dummy_logo.png' : campaignService?.simple_values?.header?.image?.image_url" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-6 text-right call-info">
                                                        <div [ngClass]="{'landing-edit-block' : mode == 'edit'}">
                                                            <button *ngIf="mode == 'edit'" class="edit-element-btn"
                                                                (click)="updateText('header-number')"><i
                                                                    class="icons-edit"></i></button>
                                                            <a>
                                                                <img src="assets/img/landing-page/dark-call.svg">
                                                                <span>{{campaignService.simple_values.header.number.value | phone}}</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <section class="banner-section">
                                            <div class="image-holder-block">
                                                <button class="image-update-btn-edit" *ngIf="mode == 'edit'"
                                                    (click)="openModal(cropProfileImage)"><i class="icons-edit"></i>
                                                </button>
                                                <div class="banner-img">
                                                    <img
                                                        [src]="!campaignService?.simple_values?.banner_background_image?.image_url ? 'assets/img/cover.jpeg' : campaignService?.simple_values?.banner_background_image?.image_url">
                                                </div>
                                            </div>
                                            <div class="container">
                                                <div class="row align-items-center">
                                                    <div class="col-sm-7">
                                                        <div class="banner-content">
                                                            <div [ngClass]="{'landing-edit-block' : mode == 'edit'}">
                                                                <button *ngIf="mode == 'edit'"
                                                                    (click)="updateText('banner-title')"
                                                                    class="edit-element-btn">
                                                                    <i class="icons-edit"></i>
                                                                </button>
                                                                <h1>{{campaignService.simple_values.banner.title.value}}
                                                                </h1>
                                                            </div>
                                                            <div [ngClass]="{'landing-edit-block' : mode == 'edit'}">
                                                                <button *ngIf="mode == 'edit'"
                                                                    (click)="updateText('banner-description')"
                                                                    class="edit-element-btn">
                                                                    <i class="icons-edit"></i>
                                                                </button>
                                                                <p>{{campaignService.simple_values.banner.description.value}}
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-5">
                                                        <form class="mb-0">
                                                            <div class="banner-form">
                                                                <div
                                                                    [ngClass]="{'landing-edit-block' : mode == 'edit'}">
                                                                    <button *ngIf="mode == 'edit'"
                                                                        (click)="updateText('contact_us-title')"
                                                                        class="edit-element-btn">
                                                                        <i class="icons-edit"></i>
                                                                    </button>
                                                                    <h3>{{campaignService.simple_values.contact_us.title.value}}
                                                                    </h3>
                                                                </div>
                                                                <div class="form-container">
                                                                    <input type="text" placeholder="First Name">
                                                                    <input type="text" placeholder="Last Name">
                                                                    <input type="email" placeholder="Email">
                                                                    <input type="tel" placeholder="Phone">
                                                                    <!-- <div
                                                                        [ngClass]="{'landing-edit-block' : mode == 'edit'}">
                                                                        <button class="edit-element-btn"
                                                                            *ngIf="mode == 'edit'"
                                                                            (click)="updateText('contact_us-button')"><i
                                                                                class="icons-edit"></i></button>
                                                                        <button
                                                                            type="submit">{{campaignService.simple_values.contact_us.button.value}}132</button>
                                                                    </div> -->
                                                                    <div
                                                                        [ngClass]="{'landing-edit-block' : mode == 'edit'}">
                                                                        <button class="edit-element-btn"
                                                                            *ngIf="mode == 'edit'"
                                                                            (click)="updateText('contact_us-button')"><i
                                                                                class="icons-edit"></i></button>
                                                                        <button
                                                                            type="submit">{{campaignService.simple_values.contact_us.button.value}}</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </form>
                                                        <div class="form-call-text">
                                                            <div [ngClass]="{'landing-edit-block' : mode == 'edit'}">
                                                                <button *ngIf="mode == 'edit'"
                                                                    (click)="updateText('contact_us-description')"
                                                                    class="edit-element-btn">
                                                                    <i class="icons-edit"></i>
                                                                </button>
                                                                <span>{{campaignService.simple_values.contact_us.description.value}}</span>
                                                            </div>
                                                            <div [ngClass]="{'landing-edit-block' : mode == 'edit'}">
                                                                <button *ngIf="mode == 'edit'"
                                                                    (click)="updateText('contact_us-number')"
                                                                    class="edit-element-btn">
                                                                    <i class="icons-edit"></i>
                                                                </button>
                                                                <a>{{campaignService.simple_values.contact_us.number.value}}</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>




            </div>
        </div>
    </div>

</div>
<ng-template #cropProfileImage>
    <div class="modal-body image-cropper-container">
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
        <app-banner-cropper (coverEvent)="receiveBannerResponse($event)" [banner_media]="media_object"
            [cover_type]="'banner_image'" [cover_type_id]="image_id"></app-banner-cropper>
    </div>
</ng-template>
<ng-template #cropImage>
    <div class="modal-body profile-cropper image-cropper-container">
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
        <app-profile-cropper (coverEvent)="receiveFileResponse($event)" [profile_media]="media_object"
            [cover_type]="'logo_image'" [cover_type_id]="image_id"></app-profile-cropper>
    </div>
</ng-template>