<div class="main-content">
    <div *ngFor="let alert of userService.alerts">
        <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
    </div>
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <button class="btn-text-icon back-page-btn" (click)="goToBack()"><i class="icons-arrow-up"></i>Back</button>
                    </div>
                </div>
                <div class="form-container">
                    <form class="mb-0" [formGroup]="submitForm" (ngSubmit)="submit()">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-content">
                                    <div class="form-field mb-4">
                                        <label for="title_text">Name <span class="required">*</span></label>
                                        <input id="title_text" type="text" formControlName="name">
                                        <errors class="pull-right required" [control]="submitForm.controls.name">
                                        </errors>
                                    </div>
                                    <div class="form-field mb-4">
                                        <label for="title_text">Billing Period <span class="required">*</span></label>
                                        <select formControlName="interval">
                                            <option *ngFor="let interval of intervals" [ngValue]="interval.value">
                                                {{ interval.name }}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="form-field mb-4" *ngIf="submitForm.value.type == 'AGENCY'">
                                        <label for="title_text">Discount <span class="required">*</span></label>
                                        <input id="title_text" type="number" formControlName="discount">
                                        <errors class="pull-right required" [control]="submitForm.controls.discount">
                                        </errors>
                                    </div>
                                    <div class="form-field mb-4" *ngIf="submitForm.value.type == 'NON_AGENCY'">
                                        <label for="title_text">Campaign Limit <span class="required">*</span></label>
                                        <select formControlName="campaign_limit">
                                            <option *ngFor="let limit of campaign_limits" [ngValue]="limit.value">
                                                {{ limit.name }}
                                            </option>
                                        </select>
                                        <errors class="pull-right required" [control]="submitForm.controls.campaign_limit">
                                        </errors>
                                    </div>
                                    <div class="form-field mb-4">
                                        <label for="title_text">Notes <span class="required">*</span></label>
                                        <textarea formControlName="note"></textarea>
                                        <errors class="error-msz" [control]="submitForm.controls.note"></errors>
                                    </div>
                                    <div class="form-field mb-4 text-right">
                                        <label for="title_text"></label>
                                        <button type="submit" [disabled]="!submitForm.valid || isSubmitting"
                                            class="btn btn-primary text-white mr-3"
                                            [ngClass]="{'btn-loading': isSubmitting}">
                                            <div class="loader"></div>Submit
                                        </button>
                                        <button type="button" (click)="goToBack()" class="btn btn-default">Cancel</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-field mb-4">
                                    <label for="title_text">Amount <span class="required">*</span></label>
                                    <input id="title_text" type="number" formControlName="amount">
                                    <errors class="pull-right required" [control]="submitForm.controls.amount">
                                    </errors>
                                </div>
                                <div class="form-field mb-4">
                                    <label for="title_text">Pricing Plan Type <span class="required">*</span></label>
                                    <select formControlName="type" (change)="planTypeChange()">
                                        <option *ngFor="let type of pricing_types" [ngValue]="type.value">
                                            {{ type.name }}
                                        </option>
                                    </select>
                                    <errors class="error-msz" [control]="submitForm.controls.type"></errors>
                                </div>
                                <div class="form-field mb-4" *ngIf="pricing_plans.length > 0">
                                    <label for="title_text">Actions</label>
                                    <select formControlName="target_plan_action_type" (change)="targetPlanActionChange()">
                                        <option *ngFor="let type of existing_pricing_plan_actions" [ngValue]="type.value">
                                            {{ type.name }}
                                        </option>
                                    </select>
                                </div>
                                <div class="form-field mb-4" *ngIf="submitForm.value.target_plan_action_type">
                                    <label for="title_text">Pricing Plans <span class="required">*</span></label>
                                    <select formControlName="target_plan_id">
                                        <option value="">Please Select</option>
                                        <option *ngFor="let plan of pricing_plans" [ngValue]="plan.pricing_plan_guid">
                                            {{ plan.name }}
                                        </option>
                                    </select>
                                    <errors class="error-msz" [control]="submitForm.controls.target_plan_id"></errors>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>