<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="template-view-edit col-md-12">
                                <div class="landing-template">
                                    <div class="header-banner" style="background-image: url('assets/img/cover.jpeg');">
                                        <div class="top-content-bar">
                                            <h2 class="page-title">Real Estate</h2>
                                            <a href="" class="call-number"><span><img src="assets/img/landing-page/call.svg"></span> 123-456-7890</a>
                                        </div>
                                        <div class="landing-banner-content">
                                            <div class="banner-text-block text-center">
                                                <div class="landing-edit-block">
                                                    <h2>Lorem ipsum Sue da</h2>
                                                </div>
                                                <div class="landing-edit-block">
                                                    <p>The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog. Junk MTV quiz graced by fox whelps. Bawds jog, flick quartz,</p>
                                                </div>
                                                <div class="landing-edit-block">
                                                    <a href="#" class="btn btn-primary landing-btn">CTA Link</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>  
                                    <div class="about-us-section l-padding-lg">
                                        <div class="about-us-content">
                                            <div class="col-sm-6 about-us-image-block">
                                                <div class="about-us-image" style="background-image: url('assets/img/cover.jpeg');"></div>
                                            </div>
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="text-block about-content">
                                                            <div class="landing-edit-block">
                                                                <div class="landing-title-block">
                                                                    <h2>About <span>Us</span></h2>
                                                                </div>
                                                            </div>
                                                            <div class="landing-edit-block">
                                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="products-block-section l-padding-md">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="landing-title-block text-center mb-5">
                                                        <div class="landing-edit-block">
                                                            <h2>House For <span>Sale</span></h2>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="products-block">
                                                        <div class="product-img" style="background-image: url('assets/img/cover.jpeg');"></div>
                                                        <div class="product-title">
                                                            <div class="landing-edit-block">
                                                                <h3>House Name One</h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="products-block">
                                                        <div class="product-img" style="background-image: url('assets/img/cover.jpeg');"></div>
                                                        <div class="product-title">
                                                            <div class="landing-edit-block">
                                                                <h3>House Name One</h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-section-block l-padding-md">
                                        <div class="container">
                                            <div class="form-container text-center">
                                                <div class="landing-title-block">
                                                    <div class="landing-edit-block">
                                                        <h2>Say <span>Hello</span></h2>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="field-block">
                                                                <input type="text" class="landing-input" placeholder="Name">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="field-block">
                                                                <input type="email" class="landing-input" placeholder="Email">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="field-block">
                                                                <input type="tel" class="landing-input" placeholder="Phone">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="field-block">
                                                                <input type="text" class="landing-input" placeholder="Message">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="submit-btn-block mt-4">
                                                                <button class="landing--submit-btn">Send</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clients-logo-section l-padding-md bg-light">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="landing-title-block text-center mb-5">
                                                        <div class="landing-edit-block">
                                                            <h2>Clients</h2>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="logo-slider-block">
                                                <ul class="logo-slider">
                                                    <li><img src="assets/img/faces/marc.jpg"></li>
                                                    <li><img src="assets/img/faces/marc.jpg"></li>
                                                    <li><img src="assets/img/faces/marc.jpg"></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>